{% extends 'base.html' %}
{% load bootstrap4 %}
{% block head_title %}Create an Order{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 py-3">
            {% include 'market/menu/market_menu.html' %}
        </div>
        <div class="col-md-6 bg-black-t pt-3">
            <h1 class="h3"><i class="fas fa-columns fa-fw text-info mr-1"></i> Create an Order</h1>
            <p class="text-muted m-0">Buy and sell any tradable item in the game. Warframes, Weapons, Companions and more.</p>
            <hr>
            <form action="{% url 'order_beast_create' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-sm btn-block btn-danger">
                    Submit
                </button>
                {% endbuttons %}
            </form>
        </div>
        <div class="col-md-3 bg-black-t py-3"></div>
    </div>
</div>
{% endblock %}