{% load bootstrap4 %}
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    {% buttons %}
    <div class="my-3">
        <a class="btn btn-danger btn-sm px-3" href="{% url 'home' %}" role="button"><i class="fas fa-times fa-fw"></i> Cancel</a>
        <button type="submit" class="btn btn-success btn-sm float-right px-3">Done</button>
    </div>
    {% endbuttons %}
</form>