{% if user.is_authenticated %}
<div class="mb-3">
    {% include 'user/user_thumb.html' %}
</div>
{% endif %}
<div class="mb-3">
    <p class="text-uppercase bg-title px-3 py-2 m-0"><i class="fas fa-compass fa-fw text-info mr-1"></i> Explore</p>
    <div class="bg-box mb-3">
        <ul class="nav flex-column mb-3">
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'explore' %} bg-black-t text-white{% endif %}" href="{% url 'explore' %}"><i class="fas fa-columns fa-fw mr-1"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'explore_users' %} bg-black-t text-white{% endif %}" href="{% url 'explore_users' %}"><i class="fas fa-users fa-fw mr-1"></i> Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"><i class="fas fa-flag fa-fw mr-1"></i> Clans</a>
            </li>
        </ul>
    </div>
</div>
