{% extends 'account/base.html' %}
{% load i18n %}
{% block head_title %}{% trans "Account Inactive" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 py-5">
            <h1 class="h3"><i class="fas fa-exclamation-triangle fa-fw text-warning mr-1"></i> {% trans "Account Inactive" %}</h1>
            <hr>
            <div class="p-3 bg-black-t">
                <p class="m-0">{% trans "This account is inactive." %}</p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}
