{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 py-5">
            <h1 class="h3"><i class="fas fa-envelope fa-fw text-info mr-1"></i> {% trans "Confirm E-mail Address" %}</h1>
            <p class="text-muted m-0">{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a class="text-info" href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
            <hr>
            <div class="p-3 bg-black-t">
            {% if confirmation %}
                {% user_display confirmation.email_address.user as user_display %}
                <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <button class="btn btn-success btn-block" type="submit">{% trans 'Confirm' %}</button>
                </form>
            {% else %}
                <p class="mb-0">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
            {% endif %}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
