{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% get_providers as socialaccount_providers %}
<div id="auth">
  <div class="inner">
    {% include 'header_public.html' %}
    {% if socialaccount_providers %}
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
      <div class="login-or">{% trans 'or' %}</div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
        <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
    </form>
    <nav class="auth-nav">
      <ul>
        <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
        <li><a href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}