{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %}{% trans "Sign In" %}{% endblock %}
{% load account socialaccount %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="mt-5 mb-3">
                <h1 class="h3"><i class="fas fa-sign-in-alt fa-fw text-info"></i> {% trans "Sign In" %}</h1>
                <hr>
                <form class="login bg-light rounded p-3 px-3" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div>
                        <a class="secondaryAction btn text-info mt-1 pl-0" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        <button type="submit" class="primaryAction btn btn-info float-right mt-1">{% trans "Sign In" %}</button>
                    </div>
                </form>
            </div>
            <div class="bg-light p-3 mt-3 mb-5">
                {% get_providers as socialaccount_providers %}
                {% if socialaccount_providers %}
                    <p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a class="text-info" href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
                    <hr>
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    <div class="login-or">{% trans 'or' %}</div>
                {% include "socialaccount/snippets/login_extra.html" %}
                {% else %}
                    <p class="mb-0">{% blocktrans %}If you have not created an account yet, then please
                    <a class="text-info" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
