{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Sign Out" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="my-5">
                <h1 class="h3"><i class="fas fa-sign-in-alt fa-fw text-info"></i> {% trans "Sign Out" %}</h1>
                <p class="font-italic">{% trans 'Are you sure you want to sign out?' %}</p>
                <hr>
                <form method="post" action="{% url 'account_logout' %}" class="bg-light rounded p-3 px-3">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="btn btn-sm btn-danger btn-block" type="submit"><i class="fas fa-sign-in-alt fa-fw"></i> {% trans 'Sign Out' %}</button>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
