{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block header %}{% include 'header_public.html' %}{% endblock %}
{% block content %}
<div id="auth">
    <div>
        <h1 class="title">{% trans "Change Password" %}</h1>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>
{% endblock %}