{% extends 'account/base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 py-3">
            {% include 'core/userprofile/menu/userprofile_update_menu.html' %}
        </div>
        <div class="col-md-4 bg-black-t py-3">
            <h1 class="h3"><i class="fas fa-key fa-fw text-info mr-1"></i> {% trans "Change Password" %}</h1>
            <hr>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-success btn-sm btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
        <div class="col-md-5 bg-black-t py-3"></div>
    </div>
</div>
{% endblock %}
