{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<div id="auth">
  <div>
    <h1 class="title">{% trans "Sign Up" %}</h1>
    <p class="subtitle">
      {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-primary btn-block" type="submit">{% trans "Sign Up" %}</button>
    </form>
  </div>
</div>
{% endblock %}