{% extends 'account/base.html' %}
{% load i18n %}
{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 py-5">
            <h1 class="h3"><i class="fas fa-sign-in-alt fa-fw text-info mr-1"></i> {% trans "Sign Up Closed" %}</h1>
            <hr>
            <div class="pt-3 px-3 bg-black-t">
                <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}
