{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %}{% trans "Sign Up" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 py-5">
            <h1 class="h3"><i class="fas fa-sign-in-alt fa-fw text-success mr-1"></i> {% trans "Sign Up" %}</h1>
            <p class="text-muted small m-0">{% blocktrans %}Already have an account? Then please <a class="text-info" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            <hr>
            <div class="p-3 bg-black-t small">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-small btn-success btn-block "><i class="fas fa-user-plus fa-fw"></i> {% trans "Sign Up" %}</button>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}
