{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            <div class="col-md-6">
                <a class="btn btn-sm btn-block text-white socialaccount_provider btn-{{brand.id}} mt-1" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}" role="button">{{provider.name}}</a>
            </div>
        {% endfor %}
    {% endif %}
    <div class="col-md-6">
        <a class="btn btn-sm btn-block text-white socialaccount_provider btn-{{provider.id}} mt-1" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" role="button"><i class="fab fa-{{provider.id}} fa-fw mr-1"></i> {{provider.name}}</a>
    </div>
{% endfor %}
