{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            <a class="btn btn-sm text-white socialaccount_provider btn-{{brand.id}} mt-1 mr-1 btn-block" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}" role="button">{{provider.name}}</a>
        {% endfor %}
    {% endif %}
    <a class="btn btn-sm text-white socialaccount_provider btn-{{provider.id}} my-3 btn-block" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" role="button"><i class="fab fa-{{provider.id}} fa-fw mr-1"></i> {{provider.name}}</a>
{% endfor %}
