{% extends 'base.html' %}
{% block title %}Codex{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% include 'modules/menu.html' %}
        </div>
        <div class="col-md-10">
            {% include 'codex_menu.html' %}
            <div class="row">
                {% if quests %}
                {% for item in quests %}
                    {% include 'thumbs/quest.html' %}
                {% endfor %}
                {% endif %}
                {% if weapons %}
                {% for item in weapons %}
                    {% include 'thumbs/weapon.html' %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}