{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Codex{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 bg-dark text-light">                
            {% include 'codex_menu.html' %}
        </div>
        <div class="col-md-9">
            <h1 class="h3 mt-3">Quests</h1>
            <hr>
            <p class="font-italic">Quests are a set of interlinked missions that give various rewards upon completion, as well as providing lore for Warframe's setting. Some quests such as Vor's Prize are mandatory as players will automatically be redirected by the quest, while some are optional (like Hidden Messages and Howl of the Kubrow). Several Junctions require quests to be completed in order for the junction to be unlocked. Additionally, a number of junctions award quests on completion. To activate a quest after it has been unlocked, simply walk to the Codex station in the Orbiter, select the Quests tab, select the desired Quest and click 'Begin Quest'.</p>
            <hr>
            <div class="row">
                {% for quest in quests %}
                <div class="col-md-4">
                    <div class="quest my-3">
                        <img class="img-fluid" src="{{quest.image|thumbnail_url:'quest'|default:'https://via.placeholder.com/512x288'}}">
                        <div class="py-2 px-3 bg-light">
                            <a href="{% url 'codex_quest_detail' quest.slug %}" class="text-dark text-uppercase font-weight-bold mb-0">{{quest.name}}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}