{% extends 'base.html' %}
{% block title %}Codex{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 my-3">
            {% include 'menu/codex_menu.html' %}
        </div>
        <div class="col-md-9 bg-black-t">
            {% if request.resolver_match.url_name == 'codex_quests' %}
            <h1 class="h3 mt-3 mb-2"><i class="far fa-map fa-fw text-info mr-1"></i> Quests</h1>
            <p class="text-muted small m-0">Many things happen in the world of Warframe, impossible missions and really rewarding prizes. With this section we help you finish the quest necessary to keep moving forward.</p>
            <hr>
            {% endif %}
            {% if request.resolver_match.url_name == 'codex_universe' %}
            <h1 class="h3 mt-3 mb-2"><i class="fas fa-globe fa-fw text-info mr-1"></i> Universe</h1>
            <p class="text-muted small m-0">This is the Warframe universe. Here you can get information about Companions, Warframes, Factions, Mods and many other things.</p>
            <hr>
            {% endif %}
            {% if warframes %}
            <h1 class="h3 mt-3 mb-2"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Warframes</h1>
            <p class="text-muted small m-0">There are many Warframes to choose from, from the ninja that teleports to the one that looks like a monkey!</p>
            <hr>
            {% endif %}
            {% if weapons %}
            <h1 class="h3 mt-3 mb-2"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Weapons</h1>
            <p class="text-muted small m-0">Here you can see all the weapons of the game. Primary, Secondary, Melee and Archwing.</p>
            <hr>
            {% endif %}
            <div class="row">
                {% if quests or warframes or weapons %}
                    {% if quests %}
                        {% for item in quests %}
                            {% include 'thumbs/codex_item_thumb.html' %}
                        {% endfor %}
                    {% endif %}
                    {% if warframes %}
                        {% for item in warframes %}
                            {% include 'thumbs/codex_item_thumb.html' %}
                        {% endfor %}
                    {% endif %}
                    {% if weapons %}
                        {% for item in weapons %}
                            {% include 'thumbs/codex_item_thumb.html' %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if request.resolver_match.url_name == 'codex_universe' %}
                    {% if latest_warframes %}
                    <div class="col-md-6">
                        <h2 class="h6 mt-3 mb-2"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Latest Warframes <a class="d-block float-right small mt-1" href="{% url 'codex_universe_warframes' %}">More <i class="fas fa-chevron-right fa-fw ml-1 small"></i></a></h2>
                        <hr>
                        {% for item in latest_warframes %}
                            {% include 'thumbs/codex_universe_item_thumb.html' %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if latest_weapons %}
                    <div class="col-md-6">
                        <h2 class="h6 mt-3 mb-2"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Latest Weapons <a class="d-block float-right small mt-1" href="{% url 'codex_universe_weapons' %}">More <i class="fas fa-chevron-right fa-fw ml-1 small"></i></a></h2>
                        <hr>
                        {% for item in latest_weapons %}
                            {% include 'thumbs/codex_universe_item_thumb.html' %}
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}