<div class="my-3">
    <h1 class="h5"><i class="fas fa-book-open fa-fw fa-lg text-info mr-1"></i> Codex</h1>
    <p>Here is where you can find everything in the game. Quests, Universe, Training and Missions.</p>
    <hr>
    <nav class="nav flex-column">
        <a class="nav-link text-uppercase {% if request.resolver_match.url_name == 'codex' %}text-light{% else %}text-secondary{% endif %}" href="{% url 'codex' %}"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Home</a>
        <a class="nav-link text-uppercase {% if request.resolver_match.url_name == 'codex_quests' %}text-light{% else %}text-secondary{% endif %}" href="{% url 'codex_quests' %}"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Quests</a>
        {% if quests %}
            {% for quest in quests %}
            <a class="nav-link text-uppercase text-secondary ml-3 small" href="#"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> {{quest.name}}</a>
            {% endfor %}
        {% endif %}
        <a class="nav-link disabled text-uppercase {% if request.resolver_match.url_name == 'codex_universe' %}text-light{% else %}text-secondary{% endif %}" href="#"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Universe</a>
        <a class="nav-link disabled text-uppercase {% if request.resolver_match.url_name == 'codex_training' %}text-light{% else %}text-secondary{% endif %}" href="#"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Training</a>
        <a class="nav-link disabled text-uppercase {% if request.resolver_match.url_name == 'codex_missions' %}text-light{% else %}text-secondary{% endif %}" href="#"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Missions</a>
    </nav>
    <hr>
</div>