{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{quest.name}}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 bg-dark text-light">
            <div class="my-3">
                <img class="img-fluid mb-3" src="{{quest.image|thumbnail_url:'quest_thumb'|default:'https://via.placeholder.com/350x196'}}">
                <h1 class="h3"><i class="fas fa-book-open fa-fw text-info mr-1"></i> {{quest.name}}</h1>
                <hr>
                <h2 class="h6 text-info text-uppercase">Description</h2>
                <p class="font-italic mb-0">{{quest.description|linebreaks}}</p>
                <hr>
                <div class="row">
                    {% if quest.tipe %}
                    <div class="col-md-6 my-2">
                        <h2 class="h6 text-info text-uppercase">Type</h2>
                        <p class="mb-0">{{quest.get_tipe_display}}</p>
                    </div>
                    {% endif %}
                    <div class="col-md-6 my-2">
                        <h2 class="h6 text-info text-uppercase">Requirements</h2>
                        <p class="mb-0">In Progress...</p>
                    </div>
                    {% if quest.is_replayable %}
                    <div class="col-md-6 my-2">
                        <h2 class="h6 text-info text-uppercase">Replayable</h2>
                        {% if quest.is_replayable == True %}
                        <p class="mb-0 text-success">Replayable</p>
                        {% else %}
                        <p class="mb-0 text-danger">Not Replayable</p>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="col-md-6 my-2">
                        <h2 class="h6 text-info text-uppercase">Rewards</h2>
                        <p class="mb-0">In Progress...</p>
                    </div>
                    {% if quest.previous_quest or quest.next_quest %}
                    <div class="col-md-12 my-2">
                        <h2 class="h6 text-info text-uppercase text-center">Chronology</h2>
                        <div class="row">
                            {% if quest.previous_quest %}
                            <div class="col-md-6 my-1">
                                <a class="btn btn-sm btn-info btn-block" href="{% url 'codex_quest_detail' quest.previous_quest.slug %}" role="button"><i class="fas fa-chevron-left fa-fw"></i> {{quest.previous_quest}}</a>
                            </div>
                            {% endif %}
                            {% if quest.next_quest %}
                            <div class="col-md-6 my-1">
                                <a class="btn btn-sm btn-info btn-block" href="{% url 'codex_quest_detail' quest.next_quest.slug %}" role="button">{{quest.next_quest}} <i class="fas fa-chevron-right fa-fw"></i></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8 my-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="walkthrough-tab" data-toggle="tab" href="#walkthrough" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-walking fa-fw"></i> Walkthrough</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-book fa-fw"></i> Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="trivia-tab" data-toggle="tab" href="#trivia" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-lightbulb fa-fw"></i> Trivia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="patchhistory-tab" data-toggle="tab" href="#patchhistory" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-history fa-fw"></i> Patch History</a>
                </li>
            </ul>
            <div class="tab-content border-right border-bottom border-left" id="myTabContent">
                <div class="tab-pane fade show active" id="walkthrough" role="tabpanel" aria-labelledby="walkthrough-tab">
                    <div class="px-3 py-4">
                    {% for walkthrough in walkthroughs %}
                        <h2 class="h3">{{walkthrough.name}}</h2>
                        <hr>
                        {{walkthrough.description|safe|linebreaks}}
                    {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">n</div>
                <div class="tab-pane fade" id="trivia" role="tabpanel" aria-labelledby="trivia-tab">t</div>
                <div class="tab-pane fade" id="patchhistory" role="tabpanel" aria-labelledby="patchhistory-tab">p</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}