{% load thumbnail %}
<div class="media bg-black-t mb-3{% if order.want == 'B' %} border-right border-success{% elif order.want == 'S' %} border-right border-danger{% endif %}">
    <img src="{{order.image|thumbnail_url:'50x50'|default:'https://via.placeholder.com/50x50'}}" alt="{{order.name}}">
    <div class="media-body pl-3 pr-2">
        <p class="text-info my-1">{{order.item}} <span class="text-muted">[{{order.quantity}} <i class="fas fa-boxes fa-fw small"></i>]</span> <a href="{% url 'pinax_messages:message_user_create' order.user.id %}" class="badge badge-info text-white float-right mt-1 ml-1">Message</a> <a href="#" class="badge badge-info text-white float-right mt-1 ">/w</a></p>
        <p class="my-1">
            <a class="small mr-1" href="{% url 'userprofile' order.user.username %}">{{order.user.username}}</a>
            {% if order.user.userprofile.status == 'O' %}
            <span class="badge badge-success">Online</span>
            {% elif order.user.userprofile.status == 'I' %}
            <span class="badge badge-warning">In-Game</span>
            {% elif order.user.userprofile.status == 'F' %}
            <span class="badge badge-danger">Offline</span>
            {% endif %} 

            {% if order.user.userprofile.platform == 'PC' %}
            <span class="badge badge-dark">PC</span>
            {% elif order.user.userprofile.platform == 'PS4' %}
            <span class="badge badge-primary">PS4</span>
            {% elif order.user.userprofile.platform == 'XB1' %}
            <span class="badge badge-success">XB1</span>
            {% elif order.user.userprofile.platform == 'NSW' %}
            <span class="badge badge-danger">NSW</span>
            {% endif %}

            <span class="float-right mt-1 small">{{order.price}} Platinum</span>
        </p>
    </div>
</div>