{% extends 'base.html' %}
{% load thumbnail %}
{% block meta_extra %}<meta property="og:url"                content="{{request.build_absolute_uri}}" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="Ordis.app - {{weapon.name}}" />
        <meta property="og:description"        content="{{weapon.description}}" />
        <meta property="og:image"              content="{{weapon.image|thumbnail_url:'weapon'|default:'https://via.placeholder.com/510x287'}}" />
        <meta name="twitter:card" content="app" />
        <meta name="twitter:site" content="@cotizcesar" />
        <meta name="twitter:creator" content="@cotizcesar" />{% endblock %}
{% block head_title %}{{weapon.name}}{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-4 bg-black-t text-light">
        <img class="img-fluid my-3 bg-light" src="{{weapon.image|thumbnail_url:'weapon'|default:'https://via.placeholder.com/510x287'}}">
        <h1 class="h3">{{weapon.name}}</h1>
        <p class="h6 mb-0 text-uppercase">
            {{weapon.get_tipe_display}} 
            {% if weapon.mastery_rank %}
             - MR <i class="fas fa-arrow-alt-circle-up fa-fw"></i> {{weapon.mastery_rank}}
            {% endif %}
        </p>
        <hr>
        <h2 class="h6 text-uppercase text-info"><i class="fas fa-info-circle fa-fw"></i> Description</h2>
        <p class="m-0">{{weapon.description}}</p>
        <hr>
        <h2 class="h6 text-uppercase text-info"><i class="fas fa-info-circle fa-fw"></i> Weapon Stats</h2>
        {% include 'codex/detail/stat/codex_universe_weapon_detail_stat.html'%}
    </div>
</div>
{% endblock %}