{% extends 'base.html' %}
{% load custom_filters %}
{% load thumbnail %}
{% block meta_extra %}<meta property="og:url"                content="{{request.build_absolute_uri}}" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="Ordis.app - {{item.name}}" />
        <meta property="og:description"        content="{{item.description}}" />
        <meta property="og:image"              content="{{item.image|thumbnail_url:'warframe'|default:'https://via.placeholder.com/510x910'}}" />
        <meta name="twitter:card" content="app" />
        <meta name="twitter:site" content="@cotizcesar" />
        <meta name="twitter:creator" content="@cotizcesar" />{% endblock %}
{% block head_title %}{{item.name}}{% endblock %}
{% block content %}
{% if item.tipe.id == 1 %}
<div id="{{item.tipe}}" class="container my-3">
    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid bg-black-t" src="{{item.image|thumbnail_url:'warframe_detail'|default:'https://via.placeholder.com/510x906'}}">
        </div>
        <div class="col-md-9 pt-3 bg-black-t">
            <h1 class="h3"><i class="fas fa-book-open fa-fw text-info mr-1"></i> {{item.name}} <div class="social float-right"><div class="fb-share-button" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div> <a class="twitter-share-button" href="{{request.build_absolute_uri}}" data-size="large">Tweet</a></div></h1>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info mb-1">Description</p>
                    <p>{{item.description}}</p>
                </div>
            </div>
            <hr class="mt-0">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    {% for pasive in pasive %}
                        <p class="text-info mb-1">{{pasive.name}}</p>
                        <p>{{pasive.value}}</p>
                    {% endfor %}
                </div>
                <div class="col-md-3 col-sm-3">                    
                    <p class="text-info mb-1">Release Date</p>
                    <p>{{item.release_date}}</p>                    
                </div>
            </div>
            <hr class="mt-0">
            <div class="row">
                {% for attribute in attributes %}
                <div class="col-md-2 col-sm-4">                    
                    <p class="text-info mb-1">{{attribute.name}}</p>
                    <p>{{attribute.value}}</p>                    
                </div>
                {% endfor %}
            </div>
            <hr class="mt-0">
            <div class="row">
                {% for ability in abilities %}
                <div class="col-md-6 pb-3 small">
                    <div class="media bg-black-t px-3 pt-3">
                        <img src="{{ability.image|thumbnail_url:'50x50'|default:'https://via.placeholder.com/50x50'}}" class="mr-3" alt="{{ability.name}} - {{ability.value}}">
                        <div class="media-body">
                            <p class="text-info text-uppercase mb-1">{{ability.name}} <span class="text-muted float-right small">Keyboard [{{ability.id}}]</span></p>
                            <p>{{ability.value}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-3">
            {% include 'codex/menu/codex_menu.html' %}
        </div>
        <div class="col-md-9 bg-black-t py-3">
            {% if warframe.video %}
            <div class="mb-3">
                {{warframe.video|youtube_embed_url|safe}}
            </div>
            {% endif %}
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link btn-main mr-1" id="pills-acquisition-tab" data-toggle="pill" href="#pills-acquisition" role="tab" aria-controls="pills-acquisition" aria-selected="true"><i class="fas fa-walking fa-fw mr-1"></i> Acquisition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-main mx-1" id="pills-trivia-tab" data-toggle="pill" href="#pills-trivia" role="tab" aria-controls="pills-trivia" aria-selected="false"><i class="fas fa-lightbulb fa-fw"></i> Trivia</a>
                </li>
            </ul>
            <hr>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-acquisition" role="tabpanel" aria-labelledby="pills-acquisition-tab">
                    <div class="container">
                        <div class="row">
                            {% for walkthrough in acquisition %}                    
                            <div class="col-md-12 bg-black-t py-3 mb-3">
                                <p class="text-uppercase"><span class="text-info">Step {{walkthrough.id}}:</span> {{walkthrough.name}}</h2>
                                <hr>
                                {{walkthrough.description|safe|linebreaks}}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-trivia" role="tabpanel" aria-labelledby="pills-trivia-tab">Work-in-Progress</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}