{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}
{% block content %}
<div id="explore">
    {% include 'core/components/page_header.html' %}
    {% if object_list %}
    <div class="users-list">
        {% for object in object_list %}
        <div class="user">
            <img class="header"
                src="{{ object.userprofile.header|thumbnail_url:'explore_header'|default:'https://via.placeholder.com/475x125' }}"
                alt="{% if object.get_full_name %}{{ object.get_full_name }} - @{{ object.username }}{% else %}@{{ object.username }} header.{% endif %}
            ">
            <div class="profile">
                <img class="avatar"
                    src="{{ object.userprofile.avatar|thumbnail_url:'explore_avatar'|default:'https://via.placeholder.com/48' }}"
                    alt="{% if object.get_full_name %}{{ object.get_full_name }} - @{{ object.username }}{% else %}@{{ object.username }} avatar.{% endif %}
                ">
                <a href="{% url 'userprofile' object.username %}">
                    <strong>{% if object.get_full_name %}{{ object.get_full_name }}{% else %}{{ object.username }}{% endif %}</strong>
                    <span>@{{ object.username }}</span>
                </a>
            </div>
            <div class="description">
                <p>{{ object.userprofile.bio|truncatechars:"65" }}</p>
            </div>
            <div class="stats">
                <div>
                    <span class="counter">10</span>
                    <span class="label">posts</span>
                </div>
                <div>
                    <span class="counter">20</span>
                    <span class="label">followers</span>
                </div>
                <div>
                    <span class="counter">{{ object.date_joined|naturalday }}</span>
                    <span class="label">joined</span>
                </div>
                <div>
                    <span class="counter">{{ object.last_login|naturalday }}</span>
                    <span class="label">last active</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}