/* Biography Block (Userprofile) EM */
.bio-block {
    background: #393F4F;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
}
.bio-block .content {
    padding: 20px;
}
.bio-block .content p {
    font-size: 1.077em;
}
.bio-block .content p:last-child {
    margin: 0;
}
.bio-block .content .date-joined {
    color: #9baec8;
    font-size: 1.077em;
}
/* Component: Badge Admin (Userprofile) EM */
.plate {
    color: #999;
    background: #333;
    border: 1px solid #444;
    border-radius: 3px;
    display: inline-block;
    font-size: 0.923em;
    line-height: 1em;
    padding: 4px 6px;
    margin: 0 0 20px 0;
}
.plate-admin {
    color: #e87487;
    background: rgba(232,116,135,.1);
    border: 1px solid rgba(232,116,135,.5);
}
.plate-staff {
    color: #2b90d9;
    background: rgba(43, 145, 218, 0.1);
    border: 1px solid rgba(43, 145, 218, 0.5);
}
/* Component: Features Block (Index) EM */
.features-block {
    display: grid;
    align-items: center;
    grid-gap: 10px;
}
.features-block a {
    background: #282c37;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    padding: 15px;
}
.features-block a:hover {
    background: #393f4f;
    text-decoration: none;
}
.features-block a h4 {
    font-size: 1.385em;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
.features-block a h4 small {
    color: #9baec8;
    display: block;
    font-size: 0.833em;
    font-weight: 400;
    margin-top: 8px;
}
.features-block a h4 .fas, .features-block a h4 .fa, .features-block a h4 .fab {
    color: #9baec8;
}
.features-block .explore-users {
    display: grid;
    grid-template-columns: auto 1fr;
}
.features-block .explore-users .users-stack {
    align-self: center;
    justify-self: right;
}
.features-block .explore-users .users-stack .avatar {
    border: 2px solid #282c37;
    border-radius: 50%;
    margin-right: -15px;
}
.features-block .explore-users .users-stack .avatar:last-child {
    margin-right: 0;
}
/* Component: Auth Block (Index) EM */
.auth-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}
/* Component: Post Welcome (Index) EM */
.post-welcome {
    display: grid;
    row-gap: 20px;
    background: #282c37;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
}
.post-welcome .header {
    border-radius: 4px 4px 0 0;
}
.post-welcome .content {
    color: #9baec8;
    font-size: 1.154em;
    line-height: 20px;
    padding: 0 20px;
}
.post-welcome .content p:last-child {
    margin: 0;
}
.post-welcome .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding: 0 20px 20px 20px;
}
.post-welcome .footer h4 {
    color: #9baec8;
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}
.post-welcome .footer .info {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    padding: 10px 0 0 0;
}
.post-welcome .footer .info .avatar {
    border-radius: 4px;
}
.post-welcome .footer .info .name {
    color: #fff;
    display: block;
    font-size: 1.077em;
    font-weight: 700;
}
.post-welcome .footer .info .username {
    color: #9baec8;
    display: block;
    font-size: 1.077em;
}
.post-welcome .footer .info .username:hover {
    text-decoration: none;
}
.post-welcome .footer .server-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 10px 0 0 0;
}
.post-welcome .footer .server-stats .count {
    display: block;
    font-size: 1.154em;
    font-weight: 700;
} 
.post-welcome .footer .server-stats .label {
    color: #9baec8;
    display: block;
    font-size: 14px;
}
/* Component: Post Welcome Thumb (Userprofile) EM */
.post-welcome-thumb .header {
    border-radius: 4px 4px 0 0;
}
.post-welcome-thumb .content {
    background: #282C37;
    border-radius: 0 0 4px 4px;
    color: #9baec8;
    font-size: 1.154em;
    line-height: 1.334em;
    padding: 20px;
}
/* Component: Post (userprofile) EM */
.post {
    background: #282C37;
    border-bottom: 1px solid #393f4f;
    color: #fff;
    padding: 15px;
}
.post .content {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
}
.post .content .avatar img {
    border-radius: 4px;
}
.post .content .userinfo {
    display: grid;
    row-gap: 7px;
}
.post .content .userinfo .profile .title {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 12px;
}
.post .content .userinfo .profile .title .name {
    color: #fff;
    font-size: 1.154em;
    font-weight: 700;
}
.post .content .userinfo .profile .title .username {
    color: #606984;
    font-size: 1.077em;
}
.post .content .userinfo .profile .title .username:hover {
    text-decoration: none;
}
.post .content .userinfo .profile .title .date {
    color: #606984;
    font-size: 1.077em;
    justify-self: right;
}
.post .content .userinfo .body {
    font-size: 1.154em;
    line-height: 1.333em;
}
.post .content .userinfo .body p:last-child {
    margin: 0;
}
.post .content .userinfo .actionbar {
    margin-top: 3px;
}
.post .content .userinfo .actionbar a {
    border-radius: 4px;
    color: #606984;
    display: inline-block;
    font-size: 1.385em;
    height: 24px;
    line-height: 23.15px;
    margin-right: 18px;
    transition: all .1s ease-in;
    transition-property: background-color, color;
    width: 24px;
}
.post .content .userinfo .actionbar a:hover {
    color: #707b97;
    background-color: rgba(96,105,132,.15);
    transition: all .2s ease-out;
    transition-property: background-color, color;
}
.post .content .userinfo .actionbar .reply {
    margin-right: 18px;
}
.post .content .userinfo .actionbar .reply a {
    margin-right: 0;
}
.post .content .userinfo .actionbar .reply .counter {
    color: #606984;
    font-size: 0.923em;
    padding: 3px;
}
/* Component: Post (Thumbnail) (Explore Posts) */
.posts-list {
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 10px;
}
.post-thumb {
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 15px;
    background: #313543;
    border-radius: 4px;
    padding: 15px;
}
.post-thumb .header {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    align-items: center;
}
.post-thumb .header .avatar {
    border-radius: 4px;
}
.post-thumb .header .name {
    color: #fff;
    display: block;
    font-size: 1.231em;
    line-height: 1.333em;
}
.post-thumb .header .username {
    color: #d9e1e8;
    font-size: 1.077em;
    line-height: 1.846em;
}
.post-thumb .header .username:hover {
    text-decoration: none;
}
.post-thumb .content {
    color: #fff;
    font-size: 1.154em;
}
.post-thumb .content .featured-image {
    border-radius: 4px;
}
.post-thumb .content p:last-child {
    margin: 0;
}
.post-thumb .footer a {
    color: #606984;
    font-size: 1.077em;
}
/* Component: Page Header (Explore: Users, Posts) EM */
.page-header {
    background: #393f4f;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    padding: 60px 15px;
    text-align: center;
}
.page-header h1 {
    color: #fff;
    font-size: 2.769em;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
}
.page-header p {
    font-size: 1.154em;
    color: #9baec8;
    margin: 0;
}
/* Component: Pagination Simple (Explore: Users, Posts) EM */
.pagination-block {
    display: grid;
    justify-items: center;
    padding: 30px 0;
}
.pagination-block .page, .pagination-block .page a {
    font-size: 1.077em;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
}
.pagination-block .current {
    background: #fff;
    border-radius: 100px;
    color: #282c37;
    cursor: default;
    margin: 0 10px;
}
/* Component: Users List (Explore Users) FIXED */
.users-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.users-list .user .profile {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
    row-gap: 15px;
    align-items: center;
    padding: 10px;
    background: #313543;
}
.users-list .user .profile .avatar {
    border-radius: 4px;
}
.users-list .user .profile a:hover{
    text-decoration: none;
}
.users-list .user .profile .name {
    color: #fff;
    font-size: 1.231em;
    line-height: 1.333em;
    display: block;
}
.users-list .user .profile .username {
    color: #9baec8;
    font-size: 1.077em;
    line-height: 1.846em;
}
.users-list .user .description {
    background: #282c37;
    border-bottom: 1px solid #393f4f;
    color: #9baec8;
    font-size: 1.077em;
    padding: 15px 10px;
}
.users-list .user .description p {
    margin: 0;
}
.users-list .user .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #282c37;
    padding: 15px 0;
    text-align: center;
}
.users-list .user .stats .counter {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    display: block;
}
.users-list .user .stats .label {
    font-size: 14px;
    display: block;
    color: #9baec8;
}
/* Component: Timenav (Userprofile) */
.timenav {
    background: #1f232b;
    border-radius: 4px 4px 0 0;
}
.timenav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.timenav ul li a {
    color: #9baec8;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 0;
    display: block;
}
.timenav ul li a:hover {
    text-decoration: none;
}
.timenav ul li .active {
    color: #fff;
}