body{
    font-family: 'Open Sans', sans-serif;
}
/* Theme: Warframe */
.bg-page{
    background: #202C3A;
    /* background: url(https://hdqwalls.com/download/warframe-plains-of-eidolon-1080p-x6-2560x1080.jpg) 0% 0% no-repeat #202C3A;
    background-attachment: fixed; */
}
.bg-navbar{
    background: #1D2025;
}
.bg-box{
    background: #131A23;
}
.title-menu{
    color: #c6d4df;
}
.btn-main{
    color: #66c0f4;
    background: #1D2632;
}
.btn-small{
    font-size: 0.7rem;
}
.btn-main:hover, .btn-main:active{
    color: #fff;
    background: #4C88AC;
}

/* Login: Buttons */
.btn-facebook{
    background: #3b5998;
}
.btn-twitch{
    background: #6441a5;
}
.btn-facebook:hover, .btn-twitch:hover{
    opacity: 0.9;
}

/* Theme Ends */
.social *{
    vertical-align: top !important;
}
a{
    color: #66c0f4;
}
a:hover{
    color: #fff;
    text-decoration: none !important;
}
.list-style-none{
    list-style: none;
}

/* Theme: Warframe - Login */
.bg-black-t{
    background: rgba(0,0,0,0.2);
    color: #c6d4df;
}
/* Typeahead */
.twitter-typeahead{
    width: 100%;
}
.typeahead{

}
.tt-menu, .tt-open{
    background: #fff;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1rem;
}
.tt-menu .tt-dataset .tt-suggestion{
    padding: 5px 8px;
}
.tt-suggestion:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.1);
}

/* Market */
.btn-float{
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.btn-float:focus{
    border: none;
}
.btn-float .fa-circle{
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
}
.btn-float .fa-stack:hover{
    opacity: 0.7;
}
/* Modal: Form Fix */
#id_want label{
    margin-right: 10px;
    margin-bottom: 0px;
    background: #343a40;
    display: inline-block;
    padding: 5px;
    width: 20%;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
}
#id_want #id_want_0{
    background: #c82333;
}
#id_want_1{
    background: #28a745;
}