body {
    background: #191b22;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-feature-settings: "kern";
    font-size: 13px;
    line-height: 18px;
    text-rendering: optimizelegibility;
}
/* Snippets */
/* Snippets: Scrollbar */
::-webkit-scrollbar-track {
    border: 0 #fff;
    border-radius: 0;
    background: rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb {
    background: #313543;
    border: 0 #fff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Page: Containers (max-width) */
#header, #header-public, #home, #feed, #userprofile, #explore, #footer .grid, .posts-list, #messages {
    display: grid;
    margin: 0 auto;
    max-width: 960px;
}

/* Page: Home */
#home {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin: 0 auto 100px auto;
}
/* Page: Auth (django-allauth) */
#auth {
    margin: 0px auto 50px auto;
    max-width: 400px;
}
#auth .title {
    color: #fff;
    font-weight: 700;
    text-align: center;
}
#auth .subtitle {
    color: #9baec8;
    margin: 0 0 50px 0;
    text-align: center;
}
#auth .login .button-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
/* Page: Feed (Internal and Public) */
#feed {
    grid-template-columns: 1fr 570px 1fr;
    column-gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Page: Explore (Users) */
#explore {
    grid-gap: 10px;
    margin: 10px auto;
}
/* Page: Userprofile (Internal and Public) */
#userprofile {
    grid-template-rows: repeat(3, auto);
    column-gap: 10px;
    row-gap: 10px;
    align-self: center;
}
#userprofile .info {
    background: #313543;
    border-radius: 4px;
    min-height: 360px;
}
#userprofile .info .inner-info {
    position: relative;
}
#userprofile .info .inner-info .userinfo {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    padding: 0 16px;
    position: absolute;
    bottom: -60px;
    left: 0;
}
#userprofile .info .inner-info .userinfo .avatar {
    border: 4px solid #313543;
    border-radius: 50%;
}
#userprofile .info .inner-info .header {
    border-radius: 4px 4px 0 0;
}
#userprofile .info .inner-info .userinfo .userdata {
    display: grid;
    grid-template-rows: auto 60px;
    padding: 20px 0 0 0;
}
#userprofile .info .inner-info .userinfo .userdata .name {
    font-size: 1.538em;
    line-height: 27px;
    color: #fff;
    margin: 0 0 6px 0;
    text-shadow: 1px 1px 1px #000;
}
#userprofile .info .inner-info .userinfo .userdata .name small {
    display: block;
    color: #fff;
    font-size: 0.700em;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu ul {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    list-style: none;
    padding: 0;
    margin: 0;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu ul .active{
    border-bottom: 4px solid #2b90d9;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu ul li {
    text-align: center;
    border-bottom: 4px solid #9baec8;
    border-right: 1px solid #313543;
    padding: 10px 0 8px 0;
    transition: all .4s ease;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu ul li:hover {
    border-bottom: 4px solid #2b90d9;
    transition: all .4s ease;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu ul li a {
    display: block;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu ul li a:hover {
    text-decoration: none;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu ul li a .counter {
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 1.385em;
    line-height: 1.111em;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu ul li a .label {
    font-size: 0.923em;
    display: block;
    color: #9baec8;
}
#userprofile .feed {
    display: grid;
    grid-template-columns: 652px 1fr;
    column-gap: 10px;
}
#userprofile .feed .aside .inner {
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    row-gap: 10px;
}
/* Color Scheme */
/* Buttons */
.btn-primary {
    background: #3c99dc;
    border-color: #3c99dc;
    color: #fff;
}
.btn-primary:hover, .btn-outline-primary:hover {
    background: #3c99dc;
    border-color: #3c99dc;
    color: #fff;
    opacity: 0.9;
}
.btn-outline-primary {
    border-color: #3c99dc;
    color: #3c99dc;
}
.btn-link, .btn-link:hover {
    color: #4ea2df;
}
/* Badges */
.badge-danger-outline {
    color: #e87487;
    background-color: rgba(232,116,135,.1);
    border: 1px solid rgba(217,225,232,.5);
    border-color: rgba(232,116,135,.5);
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    padding: 4px 6px;
}
/* Components */
/* Component: Post */
.post {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
    padding: 15px;
    background: #282C37;
    border-bottom: 1px solid #393f4f;
    color: #fff;
    font-size: 15px;
}
.post .user-avatar {
    border-radius: 4px;
    max-width: 48px;
    height: auto;
}
.post .title {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 10px;
    align-items: flex-end;
}
.post .title .name {
    color: #fff;
    font-size: 15px;
}
.post .title .username {
    color: #606984;
    font-size: 14px;
}
.post .title .username:hover {
    text-decoration: none;
}
.post .title .date {
    color: #606984;
    font-size: 14px;
    justify-self: end;
}
.post .image {
    border-radius: 4px;
}
/* Component: Timenav */
.timenav {
    background: #1f232b;
    border-radius: 4px 4px 0 0;
}
.timenav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.timenav ul li a {
    color: #9baec8;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 0;
    display: block;
}
.timenav ul li a:hover {
    text-decoration: none;
}
.timenav ul li .active {
    color: #fff;
}
/* Component: Footer */
#footer {
    padding-top: 20px;
    padding-bottom: 60px;
}
#footer .grid {
    grid-template-columns: 17% 17% 1fr 17% 17%;
}
#footer .grid .brand {
    text-align: center;
}
#footer .grid h4 {
    text-transform: uppercase;
    font-size: 0.923em;
    font-weight: 700;
    margin-bottom: 8px;
    color: #9baec8;
}
#footer .grid ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer .grid ul li a {
    color: #737d99;
}
/* Component: Users List (Explore Users) FIXED */
.users-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.users-list .user .profile {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
    row-gap: 15px;
    align-items: center;
    padding: 10px;
    background: #313543;
}
.users-list .user .profile .avatar {
    border-radius: 4px;
}
.users-list .user .profile a:hover{
    text-decoration: none;
}
.users-list .user .profile .name {
    color: #fff;
    font-size: 1.231em;
    line-height: 1.333em;
    display: block;
}
.users-list .user .profile .username {
    color: #9baec8;
    font-size: 1.077em;
    line-height: 1.846em;
}
.users-list .user .description {
    background: #282c37;
    border-bottom: 1px solid #393f4f;
    color: #9baec8;
    font-size: 1.077em;
    padding: 15px 10px;
}
.users-list .user .description p {
    margin: 0;
}
.users-list .user .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #282c37;
    padding: 15px 0;
    text-align: center;
}
.users-list .user .stats .counter {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    display: block;
}
.users-list .user .stats .label {
    font-size: 14px;
    display: block;
    color: #9baec8;
}
/* Component: Pagination Simple (Explore: Users, Posts) EM */
.pagination-block {
    display: grid;
    justify-items: center;
    padding: 30px 0;
}
.pagination-block .page, .pagination-block .page a {
    font-size: 1.077em;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
}
.pagination-block .current {
    background: #fff;
    border-radius: 100px;
    color: #282c37;
    cursor: default;
    margin: 0 10px;
}
/* Component: Post (Thumbnail) (Explore Posts) */
.posts-list {
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 10px;
}
.post-thumb {
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 15px;
    background: #313543;
    border-radius: 4px;
    padding: 15px;
}
.post-thumb .header {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    align-items: center;
}
.post-thumb .header .avatar {
    border-radius: 4px;
}
.post-thumb .header .name {
    color: #fff;
    display: block;
    font-size: 1.231em;
    line-height: 1.333em;
}
.post-thumb .header .username {
    color: #d9e1e8;
    font-size: 1.077em;
    line-height: 1.846em;
}
.post-thumb .header .username:hover {
    text-decoration: none;
}
.post-thumb .content {
    color: #fff;
    font-size: 1.154em;
}
.post-thumb .content .featured-image {
    border-radius: 4px;
}
.post-thumb .content p:last-child {
    margin: 0;
}
.post-thumb .footer a {
    color: #606984;
    font-size: 1.077em;
}

/* Components */
/* Component: Header (Internal) EM */
#header {
    background: #393F4F;
    border-radius: 4px;
    margin: 10px auto;
}
#header nav {
    display: grid;
    grid-template-columns: auto 1fr;
}
#header nav ul {
    list-style: none;
}
#header nav a {
    color: #9baec8;
    display: block;
    font-size: 0.923em;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    white-space: nowrap;
}
#header nav a:hover {
    color: #fff;
}
#header nav .disabled {
    opacity: 0.5;
}
#header nav .left, #header nav .right {
    padding: 0;
    margin: 0;
}
#header nav .left .brand:hover {
    background: #42485a;
    border-radius: 4px 0 0 4px;
    text-decoration: none;
}
#header nav .right {
    display: inline-block;
    align-items: center;
    justify-self: end;
}
#header nav .right .nav-button {
    background: #4a5266;
    border-radius: 4px;
    color: #9baec8;
    display: block;
    font-size: 0.923em;
    font-weight: 700;
    padding: 7px 15px;
    margin: 8px 8px 8px 0;
    text-align: center;
    white-space: nowrap;

}
#header nav .right .nav-button:hover {
    color: #fff;
    text-decoration: none;
    background: #535b72;
}
#header nav ul li {
    display: inline-block;
}
/* Component: Page Header (Explore: Users, Posts) EM */
.page-header {
    background: #393f4f;
    border-radius: 4px;
    padding: 60px 15px;
    text-align: center;
}
.page-header h1 {
    color: #fff;
    font-size: 2.769em;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
}
.page-header p {
    font-size: 1.154em;
    color: #9baec8;
    margin: 0;
}
/* Component: Post Welcome (Index) EM */
.post-welcome {
    display: grid;
    row-gap: 20px;
    background: #282c37;
    border-radius: 4px;
}
.post-welcome .header {
    border-radius: 4px 4px 0 0;
}
.post-welcome .content {
    color: #9baec8;
    font-size: 1.154em;
    line-height: 20px;
    padding: 0 20px;
}
.post-welcome .content p:last-child {
    margin: 0;
}
.post-welcome .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding: 0 20px 20px 20px;
}
.post-welcome .footer h4 {
    color: #9baec8;
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}
.post-welcome .footer .info {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    padding: 10px 0 0 0;
}
.post-welcome .footer .info .avatar {
    border-radius: 4px;
}
.post-welcome .footer .info .name {
    color: #fff;
    display: block;
    font-size: 1.077em;
    font-weight: 700;
}
.post-welcome .footer .info .username {
    color: #9baec8;
    display: block;
    font-size: 1.077em;
}
.post-welcome .footer .info .username:hover {
    text-decoration: none;
}
.post-welcome .footer .server-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 10px 0 0 0;
}
.post-welcome .footer .server-stats .count {
    display: block;
    font-size: 1.154em;
    font-weight: 700;
} 
.post-welcome .footer .server-stats .label {
    color: #9baec8;
    display: block;
    font-size: 14px;
}
/* Component: Features Block (Index) EM */
.features-block {
    display: grid;
    align-items: center;
    grid-gap: 10px;
}
.features-block a {
    background: #282c37;
    border-radius: 4px;
    padding: 15px;
}
.features-block a:hover {
    background: #393f4f;
    text-decoration: none;
}
.features-block a h4 {
    font-size: 1.385em;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
.features-block a h4 small {
    color: #9baec8;
    display: block;
    font-size: 0.833em;
    font-weight: 400;
    margin-top: 8px;
}
.features-block a h4 .fas, .features-block a h4 .fa, .features-block a h4 .fab {
    color: #9baec8;
}
.features-block .explore-users {
    display: grid;
    grid-template-columns: auto 1fr;
}
.features-block .explore-users .users-stack {
    align-self: center;
    justify-self: right;
}
.features-block .explore-users .users-stack .avatar {
    border: 2px solid #282c37;
    border-radius: 50%;
    margin-right: -15px;
}
.features-block .explore-users .users-stack .avatar:last-child {
    margin-right: 0;
}
/* Component: Auth Block (Index) EM */
.auth-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}
/* Component: Header (Index) EM */
#header-public {
    grid-template-columns: repeat(2, auto);
    column-gap: 15px;
    margin: 50px auto;
}
#header-public .logo-container {
    justify-self: right;
}
#header-public .title-container {
    justify-self: left;
    position: relative;
}
#header-public .title-container a:hover {
    text-decoration: none;
}
#header-public .title-container a h1 {
    color: #fff;
    font-weight: 700;
    margin: 0;
}
#header-public .title-container a span {
    color: #9baec8;
    font-size: 1.077em;
}
/* Component: Post Welcome Thumb (Userprofile) EM */
.post-welcome-thumb .header {
    border-radius: 4px 4px 0 0;
}
.post-welcome-thumb .content {
    background: #282C37;
    border-radius: 0 0 4px 4px;
    color: #9baec8;
    font-size: 1.154em;
    line-height: 1.334em;
    padding: 20px;
}
/* Component: Biography Block (Userprofile) EM */
.bio-block {
    background: #393F4F;
    border-radius: 4px;
}
.bio-block .content {
    padding: 20px;
}
.bio-block .content p {
    font-size: 1.077em;
}
.bio-block .content p:last-child {
    margin: 0;
}
.bio-block .content .date-joined {
    color: #9baec8;
    font-size: 1.077em;
}
/* Component: Badge Admin (Userprofile) EM */
.badge-admin {
    color: #e87487;
    background: rgba(232,116,135,.1);
    border: 1px solid rgba(232,116,135,.5);
    border-radius: 3px;
    display: inline-block;
    font-size: 0.923em;
    line-height: 1em;
    padding: 4px 6px;
    margin: 0 0 20px 0;
}