body {
    background: #191b22;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-feature-settings: "kern";
    font-size: 13px;
    line-height: 18px;
    text-rendering: optimizelegibility;
}
/* Snippets */
/* Snippets: Scrollbar */
::-webkit-scrollbar-track {
    border: 0 #fff;
    border-radius: 0;
    background: rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb {
    background: #313543;
    border: 0 #fff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
/* Snippets: Embed Responsive */
.embed-responsive {
    border-radius: 4px;
}
.alert {
    margin: 0 0 10px 0;
}
/* Snippets: Forms */
.form-group {
    margin-bottom: 25px;
}
.form-group label {
    font-size: 1.077em;
    font-weight: bold;
}
.form-group .form-control {
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    display: block;
    width: 100%;
    outline: 0;
    font-family: inherit;
    resize: vertical;
    background: #131419;
    border: 1px solid #0a0b0e;
    border-radius: 4px;
    padding: 10px;
}
/* Containers (max-width) */
#header, #header-public, #feed, #footer .grid, .posts-list, #messages {
    display: grid;
    margin: 0 auto;
    max-width: 960px;
}
/* Pages */
/* Page: Feed (Internal) */
#feed {
    grid-template-columns: 1fr 570px 1fr;
    column-gap: 15px;
    margin: 30px auto;
}
/* Color Scheme */
/* Buttons */
.btn-primary {
    background: #3c99dc;
    border-color: #3c99dc;
    color: #fff;
}
.btn-primary:hover, .btn-outline-primary:hover {
    background: #3c99dc;
    border-color: #3c99dc;
    color: #fff;
    opacity: 0.9;
}
.btn-outline-primary {
    border-color: #3c99dc;
    color: #3c99dc;
}
.btn-link, .btn-link:hover {
    color: #4ea2df;
}
/* Badges */
.badge-danger-outline {
    color: #e87487;
    background-color: rgba(232,116,135,.1);
    border: 1px solid rgba(217,225,232,.5);
    border-color: rgba(232,116,135,.5);
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    padding: 4px 6px;
}
/* Component: Footer */
#footer {
    padding-top: 20px;
    padding-bottom: 60px;
}
#footer .grid {
    grid-template-columns: 17% 17% 1fr 17% 17%;
}
#footer .grid .brand {
    text-align: center;
}
#footer .grid h4 {
    text-transform: uppercase;
    font-size: 0.923em;
    font-weight: 700;
    margin-bottom: 8px;
    color: #9baec8;
}
#footer .grid ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer .grid ul li a {
    color: #737d99;
}
/* Components */
/* Component: Header (Internal) EM */
#header {
    background: #393F4F;
    border-radius: 4px;
    margin: 10px auto;
}
#header nav {
    display: grid;
    grid-template-columns: auto 1fr;
}
#header nav ul {
    list-style: none;
}
#header nav a {
    color: #9baec8;
    display: block;
    font-size: 0.923em;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    white-space: nowrap;
}
#header nav a:hover {
    color: #fff;
}
#header nav .disabled {
    opacity: 0.5;
}
#header nav .left, #header nav .right {
    padding: 0;
    margin: 0;
}
#header nav .left .brand:hover {
    background: #42485a;
    border-radius: 4px 0 0 4px;
    text-decoration: none;
}
#header nav .right {
    display: inline-block;
    align-items: center;
    justify-self: end;
}
#header nav .right .nav-button {
    background: #4a5266;
    border-radius: 4px;
    color: #9baec8;
    display: block;
    font-size: 0.923em;
    font-weight: 700;
    padding: 7px 15px;
    margin: 8px 8px 8px 0;
    text-align: center;
    white-space: nowrap;

}
#header nav .right .nav-button:hover {
    color: #fff;
    text-decoration: none;
    background: #535b72;
}
#header nav ul li {
    display: inline-block;
}
/* Component: Header (Index) EM */
#header-public {
    grid-template-columns: repeat(2, auto);
    column-gap: 15px;
    margin: 50px auto;
}
#header-public .logo-container {
    justify-self: right;
}
#header-public .title-container {
    justify-self: left;
    position: relative;
}
#header-public .title-container a:hover {
    text-decoration: none;
}
#header-public .title-container a h1 {
    color: #fff;
    font-weight: 700;
    margin: 0;
}
#header-public .title-container a span {
    color: #9baec8;
    font-size: 1.077em;
}
/* Component: Button Follow/Unfollow (Userprofile) EM */
.button {
    background: #333;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.077em;
    font-weight: 700;
    height: auto;
    line-height: 36px;
    overflow: hidden;
    padding: 3px 15px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all .1s ease-in;
    white-space: nowrap;
}
.button:hover {
    background: #33a9ff;
    color: #fff;
    text-decoration: none;
    transition: all .1s ease-in;
}
.button-follow {
    background: #2b90d9;
}
.button-unfollow {
    background: #2b90d9;
}
.button-unfollow:hover {
    background: #df405a;
}
