#userprofile {
    align-self: center;
    column-gap: 10px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
    max-width: 960px;
    row-gap: 10px;
}
#userprofile .info {
    background: #313543;
    border-radius: 4px;
    min-height: 360px;
}
#userprofile .info .inner-info {
    position: relative;
}
#userprofile .info .inner-info .userinfo {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    padding: 0 8px 0 16px;
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
}
#userprofile .info .inner-info .userinfo .avatar {
    border: 4px solid #313543;
    border-radius: 50%;
}
#userprofile .info .inner-info .header {
    border-radius: 4px 4px 0 0;
}
#userprofile .info .inner-info .userinfo .userdata {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 20px 0 0 0;
}
#userprofile .info .inner-info .userinfo .userdata .name {
    font-size: 1.538em;
    line-height: 27px;
    color: #fff;
    margin: 0 0 6px 0;
    text-shadow: 1px 1px 1px #000;
}
#userprofile .info .inner-info .userinfo .userdata .name small {
    display: block;
    color: #fff;
    font-size: 0.700em;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#userprofile .info .inner-info .userinfo .userdata .usermenu .statsmenu {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    list-style: none;
    padding: 0;
    margin: 0;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu .settingsmenu {
    display: grid;
    align-items: center;
    justify-self: right;
    list-style: none;
    padding: 7px 0 8px 0;
    margin: 0;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu .statsmenu .active{
    border-bottom: 4px solid #2b90d9;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu .statsmenu li {
    text-align: center;
    border-bottom: 4px solid #9baec8;
    border-right: 1px solid #313543;
    padding: 12px 0 6px 0;
    transition: all .4s ease;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu .statsmenu li:hover {
    border-bottom: 4px solid #2b90d9;
    transition: all .4s ease;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu .statsmenu li a {
    display: block;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu .statsmenu li a:hover {
    text-decoration: none;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu .statsmenu li a .counter {
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 1.385em;
    margin-bottom: 1px;
}
#userprofile .info .inner-info .userinfo .userdata .usermenu .statsmenu li a .label {
    font-size: 0.923em;
    display: block;
    color: #9baec8;
}
#userprofile .feed {
    display: grid;
    grid-template-columns: 652px 1fr;
    column-gap: 10px;
}
#userprofile .feed .aside .inner {
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    row-gap: 10px;
}