{% if user.is_authenticated %}
<div class="mb-3">
    {% include 'user/user_thumb.html' %}
</div>
<div class="mb-3">
    {% if request.resolver_match.url_name == 'market' %}
    <a class="btn btn-success btn-block" href="{% url 'order_create' %}" role="button"><i class="fas fa-shopping-cart fa-fw mr-1"></i> Create a Order</a>
    {% elif request.resolver_match.url_name == 'market_beast' %}
    <a class="btn btn-success btn-block" href="{% url 'order_beast_create' %}" role="button"><i class="fas fa-shopping-cart fa-fw mr-1"></i> Create a Order</a>
    {% endif %}
</div>
{% endif %}
<div class="mb-3">
    <p class="text-uppercase bg-title px-3 py-2 m-0"><i class="fas fa-store fa-fw text-info mr-1"></i> Market</p>
    <div class="bg-box mb-3">
        <ul class="nav flex-column mb-3">
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'market' %} bg-black-t text-white{% endif %}" href="{% url 'market' %}"><i class="fas fa-columns fa-fw mr-1"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled{% if request.resolver_match.url_name == 'explore_users' %} bg-black-t text-white{% endif %}" href="#"><i class="fas fa-chevron-right fa-fw mr-1"></i> Warframes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled{% if request.resolver_match.url_name == 'explore_users' %} bg-black-t text-white{% endif %}" href="#"><i class="fas fa-chevron-right fa-fw mr-1"></i> Weapons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled{% if request.resolver_match.url_name == 'explore_users' %} bg-black-t text-white{% endif %}" href="#"><i class="fas fa-chevron-right fa-fw mr-1"></i> Sentinels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'market_beast' %} bg-black-t text-white{% endif %}" href="{% url 'market_beast' %}"><i class="fas fa-chevron-right fa-fw mr-1"></i> Kubrows & Kavats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled{% if request.resolver_match.url_name == 'explore_users' %} bg-black-t text-white{% endif %}" href="#"><i class="fas fa-chevron-right fa-fw mr-1"></i> Relics & Arcanes</a>
            </li>
        </ul>
    </div>
</div>
