{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}
{% block sitename %}{% endblock %}
{% block title %}{% if profile.get_full_name %}{{profile.get_full_name}}{% else %}{{profile.username}}{% endif %} profile.{% endblock %}
{% block content %}
<div class="bg-box">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-2 text-center">
                <img class="img-fluid rounded-circle" src="{{profile.userprofile.avatar|thumbnail_url:'avatar'|default:'https://via.placeholder.com/160x160'}}" alt="{% if profile.get_full_name %}{{profile.get_full_name}}{% else %}{{profile.username}}{% endif %} avatar.">
            </div>
            <div class="col-md-6 my-auto">
                {% if profile.get_full_name %}
                <h1 class="h3 text-info my-2">{{profile.get_full_name}}{% if profile.is_staff %} <i class="fas fa-check-circle fa-fw"></i>{% endif %} <span class="h5 text-white">@{{profile.username}}</span>{% if profile.userprofile.is_alpha_tester %} <span class="badge badge-secondary">Alpha Tester</span>{% endif %}</h1>
                {% else %}
                <h1 class="h3 text-info my-2">@{{profile.username}}{% if profile.is_staff %} <i class="fas fa-check-circle fa-fw"></i> {% endif %}{% if profile.userprofile.is_alpha_tester %} <span class="badge badge-secondary">Alpha Tester</span>{% endif %}</h1>
                {% endif %}
                <p class="text-muted font-italic my-2">{{profile.userprofile.bio}}</p>
                <nav class="nav my-2">
                    <a class="nav-link p-0 pr-2 disabled" href="#"><span class="text-white mr-1">1</span> Posts</a>
                    <a class="nav-link p-0 pr-2" href="#"><span class="text-white mr-1">{{followers}}</span> Followers</a>
                    <a class="nav-link p-0" href="#"><span class="text-white mr-1">{{following}}</span> Following</a>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black-t rounded-bottom">
        <a class="navbar-brand" href="#"><i class="fas fa-bars fa-fw text-info"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#UserProfileNavbar" aria-controls="UserProfileNavbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="UserProfileNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userprofile' profile.username %}">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Trading</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Builds</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                {% if user.username == profile.username %}
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-edit fa-fw text-info mr-1"></i> Edit Profile</a>
                </li>
                {% elif connected %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'unfollow' profile.username %}"><i class="fas fa-user-times fa-fw text-danger mr-1"></i> Unfollow</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'follow' profile.username %}"><i class="fas fa-user-plus fa-fw text-success mr-1"></i> Follow</a>
                </li>
                {% endif %}
                {% if user.username != profile.username %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pinax_messages:message_user_create' user_id=profile.id %}"><i class="fas fa-envelope fa-fw text-info mr-1"></i> Message</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link font-italic" href="#">Last seen: <span class="text-white">{{profile.last_login|naturaltime}}</span></a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-6">
            {% include 'post/post_create_modal.html' %}
            {% if posts %}
            {% for post in posts %}
            {% include 'post/post.html' %}
            {% endfor %}
            {% else %}
            <div class="bg-box p-3 my-3">
                <i class="fas fa-info-circle fa-fw fa-3x float-left mr-3"></i> This user does not have any posts at the moment. If you wish you can follow another user in the <a href="{% url 'explore_users' %}">list of users</a> or viewing the <a href="{% url 'feed_public' %}">Public Feed.</a>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}