{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}
{% block sitename %}{% endblock %}
{% block head_title %}{% if profile.get_full_name %}{{profile.get_full_name}}{% else %}{{profile.username}}{% endif %} profile.{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 py-3">
            <div class="bg-black-t p-3">
                <img class="img-fluid mb-3" src="{{profile.userprofile.avatar|thumbnail_url:'avatar'|default:'https://via.placeholder.com/223x223'}}" alt="">
                {% if profile.get_full_name %}
                <h1 class="h5 my-1{% if profile.is_staff %} text-warning{% endif %}">{{profile.get_full_name}}</h1>
                <p class="h6 my-1">@{{profile.username}}</p>
                {% else %}
                    <h1 class="h5 mt-0{% if profile.is_staff %} text-warning{% endif %}">@{{profile.username}}</h1>
                {% endif %}
                <nav class="nav my-2 small">
                    <a class="nav-link p-0 pr-2 disabled" href="#"><span class="text-white mr-1">1</span> Posts</a>
                    <a class="nav-link p-0 pr-2" href="#"><span class="text-white mr-1">{{followers}}</span> Followers</a>
                    <a class="nav-link p-0" href="#"><span class="text-white mr-1">{{following}}</span> Following</a>
                </nav>
                <hr>
                <p class=" mt-0">{{profile.userprofile.bio}}</p>
                {% if user.is_authenticated %}
                    {% if user.username == profile.username %}
                        <a class="btn btn-secondary btn-block btn-sm" href="#" role="button"><i class="fas fa-user-edit fa-fw mr-1"></i> Edit Profile</a>
                    {% elif connected %}
                        <a class="btn btn-danger btn-block btn-sm" href="{% url 'unfollow' profile.username %}" role="button"><i class="fas fa-user-minus fa-fw mr-1"></i> Unfollow</a>
                    {% elif user.username != profile.username %}
                        <a class="btn btn-success btn-block btn-sm" href="{% url 'follow' profile.username %}"><i class="fas fa-user-plus fa-fw mr-1"></i> Follow</a>
                    {% else %}
                        <a class="btn btn-info btn-block btn-sm" href="{% url 'pinax_messages:message_user_create' user_id=profile.id %}"><i class="fas fa-envelope fa-fw mr-1"></i> Message</a>
                    {% endif %}
                {% endif %}
                <p class="small mt-3 mb-0">Last seen: {{profile.last_login|naturaltime}}</p>
            </div>
        </div>
        <div class="col-md-6 bg-black-t pt-3">
            {% if posts %}
            {% for post in posts %}
            {% include 'post/post.html' %}
            {% endfor %}
            {% else %}
            <div class="bg-black-t p-3">
                <i class="fas fa-info-circle fa-fw fa-3x float-left mr-3"></i> This user does not have any posts at the moment. If you wish you can follow another user in the <a href="{% url 'explore_users' %}">list of users</a> or viewing the <a href="{% url 'feed_public' %}">Public Feed.</a>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3 bg-black-t py-3">
            {% include 'modules/profile_completion.html' %}
            {% include 'modules/recomended_users.html' %}
        </div>
    </div>
</div>
{% endblock %}