{% extends 'base.html' %}
{% load humanize %}
{% load custom_filters %}
{% block title %}Alerts{% endblock %}
{% block content %}
<div class="container">
    <!--<div class="row bg-black-t py-3">
        <div class="col-md-12">
            <ul class="list-style-none">
                <li>WorldSeed: {{alerts.WorldSeed}}</li>
                <li>Version: {{alerts.Version}}</li>
                <li>Mobile Version: {{alerts.MobileVersion}}</li>
                <li>Build Label: {{alerts.BuildLabel}}</li>
                <li>Time: {{alerts.Time}}</li>
                <li>Date: {{alerts.Date}}</li>
            </ul>                
        </div>
    </div>-->
    <div class="row bg-black-t pb-3">
        <div class="col-md-8">
            <div class="alerts mb-3">
                <h2 class="h3 mt-3 mb-2"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Alerts</h2>
                <p class="text-muted small m-0">A fight that never ends between the Grineer, Corpus and Infested. Here you can see all the Invasions.</p>
                <hr>
                {% for alert in alerts.Alerts %}
                <div id="{{alert.id.oid}}" class="alrt bg-black-t small border-top border-bottom border-dark">
                    <div class="media p-3">
                        <img src="https://via.placeholder.com/57x57" class="mr-3" alt="...">
                        <div class="media-body">
                            <p id="{{alert.MissionInfo.location}}" class="m-0"><span class="text-info font-weight-bold">{{alert.MissionInfo.location|solnode_name}}</span> - Level: {{alert.MissionInfo.minEnemyLevel}} - {{alert.MissionInfo.maxEnemyLevel}} {% if alert.MissionInfo.maxWaveNum >= 2 %}/ (Waves: {{alert.MissionInfo.maxWaveNum}}){% endif %}  <span class="float-right bg-info rounded py-1 px-2 small text-white" data-countdown="{{alert.Expiry.date.numberLong|human_time}}"></span></p>
                            <p id="{{alert.MissionInfo.missionType}}" class="m-0 text-uppercase font-weight-bold">{{alert.MissionInfo.missionType|mission_name}} - {{alert.MissionInfo.faction|factions_name}}</p>
                            <p class="m-0">
                                Reward: Credits {{alert.MissionInfo.missionReward.credits}}
                                {% for item in alert.MissionInfo.missionReward.items %}
                                     + {{item}}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <hr>
            </div>
            <div class="invasions mb-3">
                <h2 class="h3 mt-3 mb-2"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Invasions</h2>
                <p class="text-muted small m-0">A fight that never ends between the Grineer, Corpus and Infested. Here you can see all the Invasions.</p>
                <hr>
                <table class="table table-dark small">
                    <thead>
                        <tr>
                            <th scope="col">Faction</th>
                            <th scope="col">Node</th>
                            <th scope="col">Count</th>
                            <th scope="col">Goal</th>
                            <th scope="col">Started</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for invasion in alerts.Invasions %}
                        {% if invasion.Completed == True %}
                        <tr>
                            <th scope="row">
                                {{invasion.Faction|factions_name}}
                            </th>
                            <td>{{invasion.Node|solnode_name}}</td>
                            <td>{{invasion.Count}}</td>
                            <td>{{invasion.Goal}}</td>
                            <td>{{invasion.Activation.date.numberLong|human_time}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <hr>
            </div>
            <div class="void-traders mb-5">
                <h2 class="h3 mt-3 mt-2"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Void Traders</h2>
                <p class="text-muted small m-0">When do you want to know when the trader comes, you questions in the chat 'when baro'. Here you do not have to do it!</p>
                <hr>
                {% for trader in alerts.VoidTraders %}
                <div id="void-traders" class="void bg-black-t small border-top border-bottom border-dark">
                    <div class="media p-3">
                        <img src="https://via.placeholder.com/57x57" class="mr-3" alt="...">
                        <div class="media-body">
                            <p class="m-0 font-weight-bold text-info">{{trader.Character}}</p>
                            <p class="m-0">{{trader.Node|hubs_name}}</p>
                            <p class="m-0"><span class="font-weight-bold">Arrives:</span> [<span data-countdown="{{trader.Activation.date.numberLong|human_time}}"></span>] - <span class="font-weight-bold">Left:</span> [<span data-countdown="{{trader.Expiry.date.numberLong|human_time}}"></span>]</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <hr>
            </div>
        </div>
        <div class="col-md-4 bg-black-t">
            <h2 class="h3 mt-3 mb-2"><i class="far fa-calendar-check fa-fw text-info mr-1"></i> Events</h2>
            <p class="text-muted small m-0">Here you can see all the events that are taking place in Warframe.</p>
            <hr>
            {% for event in alerts.Events reversed %}
                {% if event.Messages.0.LanguageCode == 'en' %}
                <div id="{{event.id.oid}}" class="event bg-black-t mb-3">
                    {% if event.ImageUrl %}
                    <a href="{{event.Prop}}" target="_blank">
                        <img class="img-fluid" src="{{event.ImageUrl}}">
                    </a>
                    {% endif %}
                    <div class="media small">                
                        <div class="media-body p-3">
                            <p class="mb-0"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> 
                                <a href="{{event.Prop}}" target="_blank">
                                    {% for message in event.Messages %}
                                        {% if forloop.first %}
                                            {{message.Message}}
                                        {% endif %}
                                    {% endfor %}
                                </a>
                            </p>
                            <p><span id="clock" class="float-right text-secondary small mt-1">{{event.Date.date.numberLong|unix_to_readeable|naturalday}}</span></p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-12">
            <h2 class="h3 mt-3 mb-2"><i class="far fa-surprise fa-fw text-info mr-1"></i> Daily Deals</h2>
            <p class="text-muted small m-0">Many times it is impossible to know everything about Warframe, between quests, resources, weapons and more, it is necessary to have a guide either inside the game as well as outside it and at hand.</p>
            <hr>
            <table class="table table-dark small">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Discount</th>
                        <th scope="col">OriginalPrice</th>
                        <th scope="col">SalePrice</th>
                        <th scope="col">AmountTotal</th>
                        <th scope="col">AmountSold</th>
                    </tr>
                </thead>
                <tbody>
                {% for deal in alerts.DailyDeals %}
                    <tr>
                        <th scope="row">{{deal.StoreItem}}</th>
                        <td>{{deal.Discount}}</td>
                        <td>{{deal.OriginalPrice}}</td>
                        <td>{{deal.SalePrice}}</td>
                        <td>{{deal.AmountTotal}}</td>
                        <td>{{deal.AmountSold}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h2 class="h3"><i class="far fa-surprise fa-fw text-info mr-1"></i> Flash Sales</h2>
            <p class="text-muted small m-0">Many times it is impossible to know everything about Warframe, between quests, resources, weapons and more, it is necessary to have a guide either inside the game as well as outside it and at hand.</p>
            <hr>
            {% for sale in alerts.FlashSales %}
                {% if sale.ShowInMarket == True %}
                {% if sale.RegularOverride == 0 %}
                <div class="flash-sales bg-black-t small border-top border-bottom border-dark {% if sale.Featured == True %}bg-black-t{% endif %}">
                    <div class="media p-3">
                        <div class="media-body">
                            <p class="m-0">{{sale.TypeName}} ()
                                {% if sale.ProductExpiryOverride.date.numberLong > sale.EndDate.date.numberLong %}
                                    <span class="float-right bg-info rounded py-1 px-2 small text-white" data-countdown="{{sale.ProductExpiryOverride.date.numberLong|human_time}}">{{sale.ProductExpiryOverride.date.numberLong|human_time}}</span>
                                {% else %}
                                    <span class="float-right bg-info rounded py-1 px-2 small text-white" data-countdown="{{sale.EndDate.date.numberLong|human_time}}">{{sale.EndDate.date.numberLong|human_time}}</span>
                                {% endif %}
                                {% if sale.Discount >= 1 %}
                                    <span class="float-right bg-danger rounded py-1 px-2 small text-white mr-1">({{sale.Discount}}% Off)</span>
                                {% endif %}
                                <span class="float-right bg-success rounded py-1 px-2 small text-white mr-1">{{sale.PremiumOverride}} Platinum</span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script>
    $('[data-countdown]').each(function() {
        var $this = $(this), finalDate = $(this).data('countdown');
        $this.countdown(finalDate, function(event) {
            $this.html(event.strftime('%Dd - %H:%M:%S'));
        });
    });
</script>
{% endblock %}