{% extends 'base.html' %}
{% block title %}Alerts{% endblock %}
{% block content %}
<div class="container">
    <!--<div class="row bg-black-t py-3">
        <div class="col-md-12">
            <ul class="list-style-none">
                <li>WorldSeed: {{alerts.WorldSeed}}</li>
                <li>Version: {{alerts.Version}}</li>
                <li>Mobile Version: {{alerts.MobileVersion}}</li>
                <li>Build Label: {{alerts.BuildLabel}}</li>
                <li>Time: {{alerts.Time}}</li>
                <li>Date: {{alerts.Date}}</li>
            </ul>                
        </div>
    </div>-->
    <div class="row bg-black-t pb-3">
        <div class="col-md-6">
            <h2 class="h3 mt-3 mb-2"><i class="far fa-calendar-check fa-fw text-info mr-1"></i> Events</h2>
            <p class="text-muted small m-0">Here you can see all the events that are taking place in Warframe.</p>
            <hr>
            {% for event in alerts.Events reversed %}
                {% if event.Messages.0.LanguageCode == 'en' %}
                <div id="{{event.id.oid}}" class="event bg-black-t mb-3">
                    {% if event.ImageUrl %}
                    <a href="{{event.Prop}}" target="_blank">
                        <img class="img-fluid" src="{{event.ImageUrl}}">
                    </a>
                    {% endif %}
                    <div class="media bg-black-t small">                
                        <div class="media-body p-3">
                            <p class="mb-0"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> 
                                <a href="{{event.Prop}}" target="_blank">
                                    {% for message in event.Messages %}
                                        {% if forloop.first %}
                                            {{message.Message}}
                                        {% endif %}
                                    {% endfor %}
                                </a>
                                <span class="float-right text-secondary small mt-1">{{event.Date.date.numberLong}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h2 class="h3 mt-3 mb-2"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Invasions</h2>
            <p class="text-muted small m-0">A fight that never ends between the Grineer, Corpus and Infested. Here you can see all the Invasions.</p>
            <hr>
            <table class="table table-dark small">
                <thead>
                    <tr>
                        <th scope="col">Faction</th>
                        <th scope="col">Node</th>
                        <th scope="col">Count</th>
                        <th scope="col">Goal</th>
                        <th scope="col">Activation</th>
                    </tr>
                </thead>
                <tbody>
                {% for invasion in alerts.Invasions %}
                    {% if invasion.Completed == True %}
                    <tr>
                        <th scope="row">
                            {% if invasion.Faction == 'FC_GRINEER' %}
                            Grineer
                            {% elif invasion.Faction == 'FC_INFESTATION' %}
                            Infested
                            {% elif invasion.Faction == 'FC_CORPUS' %}
                            Corpus
                            {% endif %}
                        </th>
                        <td>{{invasion.Node}}</td>
                        <td>{{invasion.Count}}</td>
                        <td>{{invasion.Goal}}</td>
                        <td>{{invasion.Activation.date.numberLong}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h2 class="h3 mt-3 mb-2"><i class="far fa-surprise fa-fw text-info mr-1"></i> Daily Deals</h2>
            <p class="text-muted small m-0">Many times it is impossible to know everything about Warframe, between quests, resources, weapons and more, it is necessary to have a guide either inside the game as well as outside it and at hand.</p>
            <hr>
            <table class="table table-dark small">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Discount</th>
                        <th scope="col">OriginalPrice</th>
                        <th scope="col">SalePrice</th>
                        <th scope="col">AmountTotal</th>
                        <th scope="col">AmountSold</th>
                    </tr>
                </thead>
                <tbody>
                {% for deal in alerts.DailyDeals %}
                    <tr>
                        <th scope="row">{{deal.StoreItem}}</th>
                        <td>{{deal.Discount}}</td>
                        <td>{{deal.OriginalPrice}}</td>
                        <td>{{deal.SalePrice}}</td>
                        <td>{{deal.AmountTotal}}</td>
                        <td>{{deal.AmountSold}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h2 class="h3 mt-3 mb-2"><i class="far fa-surprise fa-fw text-info mr-1"></i> Flash Sales</h2>
            <p class="text-muted small m-0">Many times it is impossible to know everything about Warframe, between quests, resources, weapons and more, it is necessary to have a guide either inside the game as well as outside it and at hand.</p>
            <hr>
            <table class="table table-dark small">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">StartDate / EndDate</th>
                        <th scope="col">ProductExpiryOverride</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                {% for sale in alerts.FlashSales %}
                    {% if sale.ShowInMarket == True %}
                    {% if sale.RegularOverride == 0 %}
                    <tr class="{% if sale.Featured == True %}bg-black-t{% endif %}">
                        <th scope="row">
                            {% if sale.Popular == True %}<i class="fas fa-star fa-fw text-warning mr-1"></i> {% endif %}{{sale.TypeName}}
                        </th>
                        <td>{{sale.StartDate.date.numberLong}} / {{sale.EndDate.date.numberLong}}</td>
                        <td>{{sale.ProductExpiryOverride.date.numberLong}}</td>
                        <td>
                            {{sale.PremiumOverride}} Platinum
                            {% if sale.Discount >= 1 %}
                                ({{sale.Discount}}% Off)
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}