{% extends 'base.html' %}
{% load thumbnail %}
{% load custom_filters %}
{% block header %}{% include 'header_public.html' %}{% endblock %}
{% block content %}
<div id="home">
    <div>
        <div class="features-block">
            <div class="auth-block">
                <a href="{% url 'account_signup' %}">
                    <h4>
                        <i class="fas fa-plus-circle fa-fw text-success mr-1"></i>
                        Sign up
                    </h4>
                </a>
                <a href="{% url 'account_login' %}">
                    <h4>
                        <i class="fas fa-sign-in-alt fa-fw text-info mr-1"></i>
                        Sign in
                    </h4>
                </a>
            </div>
            <a class="explore-users" href="{% url 'explore_users' %}">
                <h4>
                    <i class="fas fa-address-book fa-fw"></i>
                    Discover Users
                    <small>Browse a profile directory and filter by interests</small>
                </h4>
                <div class="users-stack">
                    {% for object in users_related %}
                    <img class="avatar"
                        src="{{ object.userprofile.avatar|thumbnail_url:'36x36'|default:'https://via.placeholder.com/36x36' }}"
                        alt="{% if object.get_full_name %}{{ object.get_full_name }} - @{{ object.username }}{% else %}@{{ object.username }}{% endif %} avatar.
                    ">
                    {% endfor %}
                </div>
            </a>
            <a href=" {% url 'explore_posts' %}">
                <h4>
                    <i class="fas fa-globe-americas fa-fw"></i>
                    See what's happening
                    <small>Browse a live stream of public posts on Ordis</small>
                </h4>
            </a>
            <a href="https://github.com/cotizcesar/ordis" target="_blank">
                <h4>
                    <i class="fab fa-github fa-fw"></i>
                    Look at the source code
                    <small>Create, update and modify the code to improve the experience</small>
                </h4>
            </a>
        </div>
    </div>
    <div>
        {% if welcome_post %}
        {% for object in welcome_post %}
        <div class="post-welcome">
            <img class="header"
                src="{{ object.image|thumbnail_url:'465x'|default:'https://via.placeholder.com/465x262' }}">
            <div class="content">
                {{ object.text|linebreaks }}
            </div>
            <div class="footer">
                <div>
                    <h4>Administered by:</h4>
                    <div class="info">
                        <div>
                            <a href="{% url 'userprofile' object.user.username %}">
                                <img class="avatar"
                                    src="{{ object.user.userprofile.avatar|thumbnail_url:'36x36'|default:'https://via.placeholder.com/36' }}">
                            </a>
                        </div>
                        <div>
                            <a class="name" href="{% url 'userprofile' object.user.username %}">
                                <strong>{% if object.user.get_full_name %}{{ object.user.get_full_name }}{% else %}{{ object.user.username }}{% endif %}</strong>
                            </a>
                            <a class="username" href="{% url 'userprofile' object.user.username %}">
                                <span>@{{ object.user.username }}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <h4>Server stats:</h4>
                    <div class="server-stats">
                        <div>
                            <strong class="count">{{ users_count|number_formatter }}</strong>
                            <span class="label">users</span>
                        </div>
                        <div>
                            <strong class="count">{{ posts_count|number_formatter }}</strong>
                            <span class="label">posts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}