{% extends 'base.html' %}
{% load thumbnail %}
{% load custom_filters %}
{% load humanize %}
{% block title %}
{% if profile.get_full_name %}{{ profile.get_full_name }}{% else %}{{ profile.username }}{% endif %}
(@{{ profile.username }}) / Ordis
{% endblock %}
{% block content %}
<div id="userprofile">
    <div class="info">
        <div class="inner-info">
            <div class="userinfo">
                <div>
                    <img class="avatar"
                        src="{{ profile.userprofile.avatar|thumbnail_url:'120x120'|default:'https://via.placeholder.com/120x120' }}"
                        alt="{% if profile.get_full_name %}{{ profile.get_full_name }} - @{{ profile.username }}{% else %}@{{ profile.username }}{% endif %} avatar.
                    ">
                </div>
                <div class="userdata">
                    <h1 class="name">
                        {% if profile.get_full_name %}{{ profile.get_full_name }}{% else %}{{ profile.username }}{% endif %}
                        <small>
                            @{{ profile.username }}
                        </small>
                    </h1>
                    <nav class="usermenu">
                        <ul>
                            <li class="{% if request.resolver_match.url_name == 'userprofile' %}active{% endif %}">
                                <a href="#">
                                    <span class="counter">{{ posts_count|number_formatter }}</span>
                                    <span class="label">Posts</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="counter">{{ following_count|number_formatter }}</span>
                                    <span class="label">Following</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="counter">{{ followers_count|number_formatter }}</span>
                                    <span class="label">Followers</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <img class="header"
                src="{{ profile.userprofile.header|thumbnail_url:'userprofile_header'|default:'https://via.placeholder.com/960x300' }}"
                alt="{% if profile.get_full_name %}{{ profile.get_full_name }} - @{{ profile.username }}{% else %}@{{ profile.username }}{% endif %} header.
            ">
        </div>
    </div>
    <div class="feed">
        <div class="timeline">
            <nav class="timenav">
                <ul>
                    <li>
                        <a class="{% if request.resolver_match.url_name == 'userprofile' %}active{% endif %}" href="#">
                            Posts
                        </a>
                    </li>
                    <li>
                        <a href="#">Posts and replies</a>
                    </li>
                    <li>
                        <a href="#">Media</a>
                    </li>
                    <li>
                        <a href="#">Market</a>
                    </li>
                </ul>
            </nav>
            {% for object in posts %}
            <div class="post">
                <div>
                    <a href="#">
                        <img class="user-avatar"
                            src="{{ object.user.userprofile.avatar|thumbnail_url:'48x48'|default:'https://via.placeholder.com/48' }}"
                            alt="{% if object.user.get_full_name %}{{ object.user.get_full_name }} (@{{ object.user.username }}){% else %}@{{ object.user.username }}{% endif %} avatar.
                        ">
                    </a>
                </div>
                <div>
                    <h2 class="title">
                        <a class="name" href="#">
                            <strong>{% if profile.get_full_name %}{{ profile.get_full_name }}{% else %}{{ profile.username }}{% endif %}</strong>
                        </a>
                        <a class="username" href="#">
                            @{{ profile.username }}
                        </a>
                        <a class="date" href="#">{{ object.date_created|naturalday }}</a>
                    </h2>
                    <div>
                        {{ object.text|linebreaks }}
                        {% if object.image %}
                        <img class="image"
                            src="{{ object.image|thumbnail_url:'559x'|default:'https://via.placeholder.com/559' }}" alt="{{ object.text }}
                        ">
                        {% else %}
                        {% if object.video %}
                        {{ object.video|youtube_embed_url|safe }}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="aside">
            <div class="inner">
                {% if profile.userprofile.bio %}
                <div class="bio-block">
                    <div class="content">
                        {% if profile.is_superuser %}
                        <span class="badge-admin">Admin</span>
                        {% endif %}
                        {% if profile.userprofile.bio %}
                        {{ profile.userprofile.bio|linebreaks }}
                        {% endif %}
                        {% if profile.userprofile.bio %}
                        <span class="date-joined">Joined {{ profile.date_joined|naturalday }}</span>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if featured_post %}
                {% for object in featured_post %}
                <div class="post-welcome-thumb">
                    <img class="header"
                        src="{{ object.image|thumbnail_url:'298x167'|default:'https://via.placeholder.com/298x167' }}"
                        alt="{{ object.text }}">
                    <div class="content">
                        {{ object.text }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}