{% extends 'base.html' %}
{% load i18n bootstrap4 %}
{% block title %}Delete Messages: {{ thread.subject }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% include 'modules/menu.html' %}
        </div>
        <div class="col-md-6">
            <h1 class="h3 mt-3 mb-2"><i class="fas fa-envelope fa-fw text-info mr-1"></i> Delete Message</h1>
            <p class="text-muted small">You are about to delete a message, remember that there is no way to recover it.</p>
            <hr>
            <h2 class="h4 mt-3 mb-2"><i class="fas fa-envelope fa-fw text-info mr-1"></i> {{ thread.subject }}</h2>
            {% url "pinax_messages:thread_delete" thread.pk as post_url %}            
            <div class="bg-box small p-3 rounded my-3">
                {% trans "Are you sure you want to delete this thread?" %}
            </div>            
            <form action="{{ post_url }}" method="POST">
                {% csrf_token %}
                <div class="my-3">
                    <a class="btn btn-danger btn-sm px-3" href="{% url "pinax_messages:inbox" %}" role="button"><i class="fas fa-times fa-fw"></i> Cancel</a>
                    <button type="submit" class="btn btn-success btn-sm float-right px-3">Done</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            {% include 'modules/aside.html' %}
        </div>
    </div>
</div>
{% endblock %}