{% load thumbnail %}
{% if quests %}
<a href="{% url 'codex_quest_detail' item.slug %}">
{% elif companions %}
<a href="#">
{% elif weapons %}
<a href="{% url 'codex_universe_item_detail' item.slug %}">
{% elif warframes %}
<a href="{% url 'codex_universe_item_detail' item.slug %}">
{% endif %}
    <div id="{{item.name}}" class="media bg-black-t">
        {% if not quests %}
        <img src="{{item.image|thumbnail_url:'50x50'|default:'https://via.placeholder.com/50x50'}}" class="mr-3" alt="{{item.name}}">
        {% else %}
        <img src="{{item.image|thumbnail_url:'warframe_50x50'|default:'https://via.placeholder.com/50x50'}}" class="mr-3" alt="{{item.name}}">
        {% endif %}
        <div class="media-body">
            <p class="text-info my-1">{{item.name}}</p>
            <p class="my-1 small">{{item.release_date}}</p>
        </div>
    </div>
</a>
