{% load thumbnail %}
<div class="col-md-4 mb-3 small">
    <div class="item">
        {% if quests %}
        <a href="{% url 'codex_quest_detail' item.slug %}">
        {% endif %}
        {% if weapons %}
        <a href="{% url 'codex_universe_weapon_detail' item.slug %}">
        {% endif %}
        {% if warframes %}
        <a href="{% url 'codex_universe_warframe_detail' item.slug %}">
        {% endif %}
            <img class="img-fluid" src="{{item.image|thumbnail_url:'item'|default:'https://via.placeholder.com/510x287'}}">
            <div class="py-2 px-3 bg-light">
                {% if quests %}
                <p class="text-dark text-uppercase font-weight-bold mb-0">{{item.name}}</p>
                {% endif %}
                {% if weapons %}
                <p class="text-dark text-uppercase font-weight-bold mb-0">{{item.name}}</p>
                {% endif %}
                {% if warframes %}
                <p class="text-dark text-uppercase font-weight-bold mb-0">{{item.name}}</p>
                {% endif %}
            </div>
        </a>
    </div>
</div>