{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}
{% block sitename %}{% endblock %}
{% block title %}{% if profile.get_full_name %}{{profile.get_full_name}}{% else %}{{profile.username}}{% endif %} profile.{% endblock %}
{% block content %}
<div class="bg-box">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-2 text-center">
                <img class="img-fluid rounded-circle mb-3" src="{{profile.userprofile.avatar|thumbnail_url:'avatar'|default:'https://via.placeholder.com/160x160'}}" alt="{% if profile.get_full_name %}{{profile.get_full_name}}{% else %}{{profile.username}}{% endif %} avatar.">
            </div>
            <div class="col-md-6 my-auto">
                {% if profile.get_full_name %}
                <h1 class="h3 text-info mb-2">{{profile.get_full_name}}{% if profile.is_staff %} <i class="fas fa-check-circle fa-fw small"></i> {% endif %}<span class="h5 text-white">@{{profile.username}}</span></h1>
                {% else %}
                <h1 class="h3 text-info mb-2">@{{profile.username}}{% if profile.is_staff %} <i class="fas fa-check-circle fa-fw small"></i> {% endif %}</h1>
                {% endif %}
                <p class="text-muted font-italic small mb-2">{{profile.userprofile.bio}}</p>
                <p class="text-muted font-italic small">Last seen: <span class="text-white">{{profile.last_login|naturaltime}}</span></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom">
        <a class="navbar-brand" href="#"><i class="fas fa-bars fa-fw text-info"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#UserProfileNavbar" aria-controls="UserProfileNavbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="UserProfileNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userprofile' profile.username %}">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Trading</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Builds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Trading</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-success font-weight-bold" href="#"><i class="fas fa-user-plus fa-fw mr-1"></i> Follow</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info font-weight-bold" href="#"><i class="fas fa-envelope fa-fw mr-1"></i> Message</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% include 'modules/menu.html' %}
        </div>
        <div class="col-md-6">
            {% if posts %}
            {% for post in posts %}
            {% include 'post/post.html' %}
            {% endfor %}
            {% else %}
            <div class="bg-box small p-3 rounded my-3">
                <i class="fas fa-info-circle fa-fw fa-3x float-left mr-3"></i> This user does not have any posts at the moment. If you wish you can follow another user in the <a href="{% url 'explore_users' %}">list of users</a> or viewing the <a href="{% url 'feed_public' %}">Public Feed.</a>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% include 'modules/aside.html' %}
        </div>
    </div>
</div>
{% endblock %}