{% extends 'base.html' %}
{% block title %}Feed{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% load thumbnail %}
            {% if user.is_authenticated %}
            <div class="user-menu mt-4 my-3">
                <div class="media small">
                    <img class="mr-2 rounded-circle" src="{{user.userprofile.avatar|thumbnail_url:'avatar_32x32'|default:'https://via.placeholder.com/32x32'}}" alt="{% if user.get_full_name %}{{user.get_full_name}}{% else %}{{user.username}}{% endif %} avatar.">
                    <div class="media-body">
                        <p class="my-1">
                            <a href="{% url 'userprofile' user.username %}">
                                {% if user.get_full_name %}
                                {{user.get_full_name}}
                                {% else %}
                                {{user.username}}
                                {% endif %}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            {% endif %}
            {% include 'modules/menu.html' %}
        </div>
        <div class="col-md-6">
            {% for post in posts %}
            {% include 'post/post.html' %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% include 'modules/aside.html'%}
        </div>
    </div>
</div>
{% endblock %}