{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="bg-dark text-white my-3 p-3 rounded">
                {% include 'user/thumb.html' %}
            </div>
            <div class="card text-white bg-dark mb-3">
                <div class="card-header"><i class="fas fa-bars fa-fw text-info mr-1"></i> Main Menu</div>                    
                <nav class="nav flex-column">
                    <a class="nav-link" href="#"><i class="fas fa-caret-right fa-fw text-info mr-1"></i> News Feed</a>
                </nav>
            </div>
        </div>
        <div class="col-md-6">
            {% for post in posts %}
            {% include 'post/post.html' %}
            {% endfor %}
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-success btn-lg btn-block my-3"><i class="fas fa-plus fa-fw mr-1"></i> New Post</a>
            {% include 'modules/recomended_users.html' %}
            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header"><i class="fas fa-store fa-fw text-white mr-1"></i> Marketplace</div>
                <div class="media p-3">
                    <img class="mr-3 rounded-circle" src="https://via.placeholder.com/50x50" alt="Generic placeholder image">
                    <div class="media-body">
                        <p class="font-weight-bold my-1"><a class="text-white" href="#">Oberon Prime Set</a></p>
                        <p class="text-light my-1">1000 Platinum <span class="bg-danger px-1 rounded float-right">WTS</span></p>
                    </div>
                </div>
                <div class="media p-3">
                    <img class="mr-3 rounded-circle" src="https://via.placeholder.com/50x50" alt="Generic placeholder image">
                    <div class="media-body">
                        <p class="font-weight-bold my-1"><a class="text-white" href="#">Oberon Prime Set</a></p>
                        <p class="text-light my-1">1000 Platinum <span class="bg-success px-1 rounded float-right">WTB</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}