{% extends 'base.html' %}
{% block title %}Feed{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% include 'menu/feed_menu.html' %}
        </div>
        <div class="col-md-6 bg-black-t">
            {% include 'post/post_create_modal.html' %}
            {% for post in posts %}
            {% include 'post/post.html' %}
            {% endfor %}
        </div>
        <div class="col-md-3 bg-black-t">
            {% include 'modules/aside.html'%}
        </div>
    </div>
</div>
{% endblock %}