{% extends 'base.html' %}
{% block head_title %}Feed{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 py-3">
            {% include 'menu/feed_menu.html' %}
        </div>
        <div class="col-md-6 bg-black-t pt-3">
            <div class="infinite-container">
                {% include 'post/post_create_modal.html' %}
                {% for post in posts %}
                    {% include 'post/post.html' %}
                {% endfor %}
            </div>
            <div class="bg-box rounded mt-3" style="display: none;">
                Loading...
            </div>
            {% if page_obj.has_next %}
            <a class="infinite-more-link bg-box d-block p-2 text-center" href="?page={{ posts.next_page_number }}">More</a>
            {% endif %}
        </div>
        <div class="col-md-3 bg-black-t py-3">
            {% include 'modules/aside.html'%}
        </div>
    </div>
</div>
<script>
        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
            $('.loading').hide();
          }
        });
      </script>
{% endblock %}