{% extends 'base.html' %}
{% block footer %}{% endblock %}
{% block content %}
<div id="feed">
    <div></div>
    <div>
        {% for object in object_list %}
        <div class="post">
            <div>
                <a href="#">
                    <img class="user-avatar" src="https://via.placeholder.com/49x49">
                </a>
            </div>
            <div>
                <h2 class="title"><a href="#">{{ object.user.get_full_name }}</a></h2>
            </div>
        </div>
        {% endfor %}
    </div>
    <div></div>
</div>
{% endblock %}