<div class="bg-black-t">
    <p class="text-uppercase bg-title px-3 py-2 m-0 rounded-top"><i class="fas fa-info fa-fw text-warning mr-1"></i> Disclaimer</p>
    <div class="text-secondary p-3 small rounded-bottom">
        <p>Digital Extreme Ltd, Warframe and the logo Warframe are registered trademarks. All rights are reserved worldwide.</p>
        <p>This site has no official link with Digital Extremes Ltd or Warframe.</p>
        <p class="mb-0">All artwork, screenshots, characters or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of Digital Extreme Ltd.</p>
    </div>
</div>