<div class="mb-3">
    <p class="text-uppercase bg-title px-3 py-2 m-0"><i class="fas fa-share-alt fa-fw text-info mr-1"></i> Follow Us</p>
    <div class="bg-box mb-3 p-3">
        <p>Do you want to know more about the project? You can contribute with ideas and comments through the following links.</p>
        <p class="mb-1"><a href="https://fb.me/ordisapp" target="_blank"><i class="fab fa-facebook fa-fw mr-1"></i> Facebook</a></p>
        <p class="my-1"><a href="https://m.me/ordisapp?fbclid=IwAR1GYX-1jsM2YhoMMR6l81UT8vIBxpzAEiJvbIQvTZ7XqEXUv4BRxDs6XJA" target="_blank"><i class="fab fa-facebook-messenger fa-fw mr-1"></i> Messenger</a></p>
        <p class="my-1"><a href="https://t.me/joinchat/CbHjkhCnI4U9WsvD3_ckTA" target="_blank"><i class="fab fa-telegram fa-fw mr-1"></i> Telegram</a></p>
        <p class="mt-1"><a href="https://discord.gg/3P6HQZb" target="_blank"><i class="fab fa-discord fa-fw mr-1"></i> Discord</a></p>
        <p>You can also support us by donating on Patreon <strong>(Temporarily disabled)</strong></p>
        <h2 class="text-center"><a href="#" target="_blank"><i class="fab fa-patreon fa-fw"></i> Patreon</a></h2>
    </div>
</div>
<div class="mb-3">
    <p class="text-uppercase bg-title px-3 py-2 m-0"><i class="fas fa-info fa-fw text-warning mr-1"></i> Disclaimer</p>
    <div class="bg-box mb-3 p-3">
        <p class="mb-0 small">Digital Extreme Ltd, Warframe and the logo Warframe are registered trademarks. All rights are reserved worldwide. This site has no official link with Digital Extremes Ltd or Warframe. All artwork, screenshots, characters or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of Digital Extreme Ltd.</p>
    </div>
</div>