{% load static %}
{% load bootstrap4 %}
{% load thumbnail %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% bootstrap_css %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>{% block sitename %}Warframe.py - {% endblock %}{% block title %}{% endblock %}</title>
    </head>
    <body class="bg-page text-white">
        {% include 'header.html' %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include 'footer.html' %}
        {% block extras %}{% endblock %}
        {% bootstrap_javascript jquery='full' %}
        <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script src="{% static 'js/typeahead.bundle.js' %}"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })
        </script>
        <script>
            // Select2: Init
            $(document).ready(function() {
                $('#id_item').select2({
                    placeholder: 'Select an option',
                    theme: 'classic',
                    width: '100%'
                });
            });
            // Bootstrap 4: Tooltip init
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <script>
            var search = function (nameKey, myArray){
                for (var i=0; i < myArray.length; i++) {
                    if (myArray[i].name === nameKey) {
                        return myArray[i];
                    }
                }
            }
            var substringMatcher = function(strs) {
                return function findMatches(q, cb) {
                    var matches, substringRegex;
                    // an array that will be populated with substring matches
                    matches = [];
                    // regex used to determine if a string contains the substring `q`
                    substrRegex = new RegExp(q, 'i');
                    // iterate through the pool of strings and for any string that
                    // contains the substring `q`, add it to the `matches` array
                    $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                    });

                    cb(matches);
                };
            };
            var data = [
                {% for item in omnisearch %}
                    '{{item.name}}',
                {% endfor %}
            ];
            var url = [
                {% for item in omnisearch %}
                    {name: '{{item.name}}', value:'{{item.slug}}'},
                {% endfor %}
            ];
            $('#omnisearch .typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            },
            {
                name: 'data',
                source: substringMatcher(data)
            }).on('typeahead:selected', function(evt, item) {
                var resultObject = search(item, url);
                window.location = '{{request.build_absolute_uri}}' + 'market/items/' + resultObject.value;
            });
        </script>
    </body>
</html>