<footer class="bg-footer fixed-bottom text-secondary small">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="align-middle mb-0 p-2">Ordis.app - All lefts Reserved 2018 - Made with <i class="fas fa-heart fa-fw text-danger"></i> in Colombia</p>
            </div>
            <div class="col-md-6">
                <nav class="nav justify-content-end">
                    <a class="nav-link" href="#">F.A.Q.</a>
                    <a class="nav-link" href="#">Terms of Use</a>
                    <a class="nav-link" href="#">Privacy</a>
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
                </nav>
            </div>
        </div>
    </div>
</footer>