<footer id="footer">
    <div class="grid">
        <div>
            <h4>Resources</h4>
            <ul>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">Privacy policy</a></li>
            </ul>
        </div>
        <div>
            <h4>Developers</h4>
            <ul>
                <li><a href="#" target="_blank">Documentation</a></li>
                <li><a href="#" target="_blank">API</a></li>
            </ul>
        </div>
        <div class="brand">
            <h4>What is Ordis?</h4>
            <i class="fas fa-robot fa-fw fa-2x text-info"></i>
        </div>
        <div>
            <h4>Ordis.app</h4>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Alpha Version</a></li>
            </ul>
        </div>
        <div>
            <h4>More...</h4>
            <ul>
                <li><a href="https://github.com/cotizcesar/ordis">Source code</a></li>
                <li><a href="#">Mobile apps</a></li>
            </ul>
        </div>
    </div>
</footer>