<footer id="footer">
    <div class="inner-footer">
        <div>
            <h2>Ordis</h2>
        </div>
        <div>
            <h4 class="title">Product</h4>
            <ul class="list-style-none p-0 m-0">
                <li><a href="{% url 'account_login' %}">Get started</a></li>
                <!--
                <li><a href="#">Apps</a></li>
                <li><a href="#">Sponsors</a></li>
                -->
            </ul>
        </div>
        <div>
            <h4 class="title">Resources</h4>
            <ul class="list-style-none p-0 m-0">
                <li><a href="https://github.com/cotizcesar/ordis" target="_blank">Code</a></li>
                <!--
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Merch</a></li>
                -->
            </ul>
        </div>
        <div>
            <h4 class="title">Company</h4>
            <ul class="list-style-none p-0 m-0">
                <li><a href="#">Blog</a></li>
                <!--
                <li><a href="#">Get press kit</a></li>
                <li><a href="#">Imprint</a></li>
                -->
            </ul>
        </div>
    </div>

</footer>