{% load thumbnail %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
        <div class="container">
            <a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'feed' %}{% else %}{% url 'index' %}{% endif %}"><i class="fas fa-gamepad fa-fw text-info mr-1"></i> Warframe.py</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--<div class="mx-2 my-auto d-inline w-25">
                    <div id="omnisearch" class="input-group input-group-sm">
                        <input type="text" class="form-control typeahead border" placeholder="Search: Items, Resources to Buy or Sell" aria-label="Search" aria-describedby="basic-addon2">
                    </div>
                </div>-->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item{% if request.resolver_match.url_name == 'feed' or request.resolver_match.url_name == 'feed_public' %} active{% endif %}">
                        <a class="nav-link mx-1" href="{% url 'feed' %}">Home</a>
                    </li>
                    <li class="nav-item{% if request.resolver_match.url_name == 'explore' or request.resolver_match.url_name == 'explore_users' %} active{% endif %}">
                        <a class="nav-link mx-1" href="{% url 'explore' %}">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-1 disabled" href="#">Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-1 disabled" href="#">Alerts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-1 disabled" href="#">Builder</a>
                    </li>
                    <li class="nav-item{% if request.resolver_match.url_name == 'codex' %} active{% endif %}">
                        <a class="nav-link mx-1" href="{% url 'codex' %}">Codex</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown {% if request.resolver_match.url_name == 'userprofile' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle py-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid rounded-circle mr-1" src="{{user.userprofile.avatar|thumbnail_url:'avatar_header'|default:'/media/user/avatar/avatar_header.png'}}"> {{user.username}} </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'userprofile' user.username %}"><i class="fas fa-user-circle fa-fw text-info mr-1"></i> Profile</a>
                            <a class="dropdown-item" href="{% url 'userprofile_basic' %}"><i class="fas fa-cogs fa-fw text-info mr-1"></i> Settings</a>
                            <a class="dropdown-item" href="{% url 'pinax_messages:inbox' %}"><i class="fas fa-envelope fa-fw text-info mr-1"></i> Messages</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt fa-fw text-danger mr-1"></i> Sign Out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt fa-fw text-success mr-1"></i> Sign In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>