{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 my-5">
            <div class="text-center">
                <img class="img-fluid px-3 pb-3 rounded-circle w-50" src="{% static 'img/ordis.png' %}">
                <h1 class="h3">Ordis.app</h1>
                <p class="text-muted m-0">Already have an account? Then please <a class="text-info" href="{% url 'account_login' %}">sign in</a></p>
            </div>
            <hr>
            <div class="p-3 bg-black-t">
                <a class="btn btn-info btn-block" href="{% url 'account_login' %}" role="button">Sign In</a>
                <p class="text-center my-2">or</p>
                <a class="btn btn-success btn-block" href="{% url 'account_signup' %}" role="button">Sign Up</a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}