{% extends 'base.html' %}
{% block content %}
<div id="home">
    <div class="hero">
        <h1 class="title">
            Social network, Market, Alerts, Builder and Codex, <strong>all in the same place</strong>.
        </h1>
        <p class="subtitle">
            Discover and follow new players, find help in the constant updated Codex, buy and sell items for
            platinum (in-game). Publish anything you want: links, pictures, text, video.
        </p>
        <div class="button-list">
            <a class="btn btn-primary btn-lg" href="#" role="button">Get started</a>
            <a class="btn btn-outline-primary btn-lg" href="#" role="button">
                <i class="fas fa-play fa-fw mr-1"></i>
                How it works
            </a>
        </div>
    </div>
    <div class="as-seen-on"></div>
    <div class="features">
        <div class="feature right">
            <div>
                <h2 class="title">Socialize with players</h2>
                <p class="subtitle">
                    Explore, Follow and comments post from other players. Upload links, pictures, text, video. All
                    modern features are available to provide a seamless
                    social media experience.
                </p>
            </div>
            <div><i class="fas fa-share-alt fa-fw fa-6x"></i></div>
        </div>
        <div class="feature left">
            <div><i class="fas fa-store fa-fw fa-6x"></i></div>
            <div>
                <h2 class="title">Buy and Sell tradeable items for in-game currency</h2>
                <p class="subtitle">
                    Do you want a prime set? Or maybe a rare piece for your blueprint? If you have the platinum you can
                    contact the seller to buy it in-game.
                </p>
            </div>
        </div>
        <div class="feature right">
            <div>
                <h2 class="title">Find help in our self-maintained codex</h2>
                <p class="subtitle">
                    Every day we check in various sources like in-game codex or external wikis to get the most accurate
                    and latest info about everything in the game.
                </p>
            </div>
            <div><i class="fas fa-book fa-fw fa-6x"></i></div>
        </div>

    </div>
</div>
{% endblock %}