{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 my-5">
            <h1 class="h3 text-center">Ordis.app</h1>
            <p class="text-center text-muted m-0">Already have an account? Then please <a class="text-info" href="{% url 'account_login' %}">sign in</a></p>
            <hr>
            <div class="p-3 bg-black-t">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-small btn-success btn-block "><i class="fas fa-sign-in-alt fa-fw mr-1"></i> {% trans "Sign Up" %}</button>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}