<div class="media rounded bg-dark small text-light my-1">
    <img class="img-fluid rounded-left border-info" src="https://via.placeholder.com/74x74" alt="Ash Prime Neuroptics">
    <div class="media-body px-3 py-2">
        <h6 class="mb-1">
            Body Count 
            <span class="text-secondary small">[6 <i class="fas fa-boxes fa-fw small"></i>]</span>
            <div class="float-right mt-1">
                <a class="text-light" href="#" role="button"><i class="fas fa-comment fa-fw"></i></a>
                <a class="text-light" href="#" role="button"><i class="fas fa-envelope fa-fw"></i></a>
            </div>
        </h6>
        <p class="my-1">Mod Rank - 0</p>
        <p class="m-0 text-success"><span>9</span> Platinum each by <a class="text-info" href="#">@cotizcesar</a> <span class="text-success text-uppercase font-weight-bold float-right"><i class="fas fa-sign-in-alt fa-fw"></i> Online</span></p>
    </div>
</div>

<div class="media rounded bg-dark small text-light my-1">
    <img class="img-fluid rounded-left border-info" src="https://via.placeholder.com/74x74" alt="Ash Prime Neuroptics">
    <div class="media-body px-3 py-2">
        <h6 class="mb-1">
            Body Count 
            <span class="text-secondary small">[6 <i class="fas fa-boxes fa-fw small"></i>]</span>
            <div class="float-right mt-1">
                <a class="text-light" href="#" role="button"><i class="fas fa-comment fa-fw"></i></a>
                <a class="text-light" href="#" role="button"><i class="fas fa-envelope fa-fw"></i></a>
            </div>
        </h6>
        <p class="my-1">Mod Rank - 0</p>
        <p class="m-0 text-success"><span>9</span> Platinum each by <a class="text-info" href="#">@cotizcesar</a> <span class="text-danger text-uppercase font-weight-bold float-right"><i class="fas fa-sign-out-alt fa-fw"></i> Offline</span></p>
    </div>
</div>
<div class="media rounded bg-dark small text-light my-1">
    <img class="img-fluid rounded-left border-info" src="https://via.placeholder.com/74x74" alt="Ash Prime Neuroptics">
    <div class="media-body px-3 py-2">
        <h6 class="mb-1">
            Body Count 
            <span class="text-secondary small">[6 <i class="fas fa-boxes fa-fw small"></i>]</span>
            <div class="float-right mt-1">
                <a class="text-light" href="#" role="button"><i class="fas fa-comment fa-fw"></i></a>
                <a class="text-light" href="#" role="button"><i class="fas fa-envelope fa-fw"></i></a>
            </div>
        </h6>
        <p class="my-1">Mod Rank - 0</p>
        <p class="m-0 text-success"><span>9</span> Platinum each by <a class="text-info" href="#">@cotizcesar</a> <span class="text-info text-uppercase font-weight-bold float-right"><i class="fas fa-gamepad fa-fw"></i> In Game</span></p>
    </div>
</div>