{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{item.name}}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 bg-dark text-light">
                <div class="mt-4 mb-3">
                    <img class="img-fluid bg-light rounded-circle d-block w-auto mx-auto" src="{{item.image|thumbnail_url:'item'|default:'/media/item/item.png'}}">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle w-auto my-3 mx-1" src="https://via.placeholder.com/50x50">
                        <img class="img-fluid rounded-circle w-auto my-3 mx-1" src="https://via.placeholder.com/50x50">
                        <img class="img-fluid rounded-circle w-auto my-3 mx-1" src="https://via.placeholder.com/50x50">
                        <img class="img-fluid rounded-circle w-auto my-3 mx-1" src="https://via.placeholder.com/50x50">
                    </div>
                    <h1 class="h5 text-center">{{item.name}}</h1>
                    <hr>
                    {% if item.description %}
                    <h2 class="h6 text-uppercase text-info">Description</h2>
                    {{item.description|linebreaks}}
                    <hr>
                    {% endif %}
                    <div class="row">
                        {% if item.trading_tax %}
                        <div class="col-md-6 my-1">
                            <p class="mb-1 text-uppercase text-info">Wikia</p>
                            <a class="text-light small" href="{{item.url}}"><i class="fas fa-link fa-fw"></i> {{item.name}}</a>
                        </div>
                        {% endif %}
                        {% if item.trading_tax %}
                        <div class="col-md-6 my-1">
                            <p class="mb-1 text-uppercase text-info">Trading Tax</p>
                            <p class="mb-0 small"><i class="fas fa-coins fa-fw"></i> {{item.trading_tax}}</p>
                        </div>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row">
                        {% if item.ducats %}
                        <div class="col-md-6 my-1">
                            <p class="mb-1 text-uppercase text-info">Ducats</p>
                            <p class="mb-0 small">{{item.ducats}}</p>
                        </div>
                        {% endif %}
                        {% if item.mastery_rank %}
                        <div class="col-md-6 my-1">
                            <p class="mb-1 text-uppercase text-info">Mastery Rank</p>
                            <p class="mb-0 small"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> {{item.mastery_rank}}</p>
                        </div>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row">
                        {% if item.rarity %}
                        <div class="col-md-6 my-1">
                            <p class="mb-1 text-uppercase text-info">Rarity</p>
                            <p class="mb-0">{{item.rarity}}</p>
                        </div>
                        {% endif %}
                        {% if item.mod_rank %}
                        <div class="col-md-6 my-1">
                            <p class="mb-1 text-uppercase text-info">Mod Rank</p>
                            <p class="mb-0 small">{{item.mod_rank}}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6 my-3">
                        <h2 class="h6"><i class="fas fa-dollar-sign fa-fw fa-lg bg-danger p-1 rounded text-light mr-1"></i> Want to Sell <a class="h6 text-info float-right small mt-1" href="#">Show all <i class="fas fa-chevron-right fa-fw"></i></a></h2>
                        <hr>
                        {% for order in wts %}
                            {% include 'item.html' %}
                        {% endfor %}
                    </div>
                    <div class="col-md-6 my-3">
                        <h2 class="h6"><i class="fas fa-dollar-sign fa-fw fa-lg bg-success p-1 rounded text-light mr-1"></i> Want to Buy <a class="h6 text-info float-right small mt-1" href="#">Show all <i class="fas fa-chevron-right fa-fw"></i></a></h2>
                        <hr>
                        {% for order in wtb %}
                            {% include 'item.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}