{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{item.name}}{% endblock %}
{% block content %}
<div class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="media col-md-12">
                <div class="row py-3">
                    <div class="col-md-3 my-3">
                        <div class="text-center">
                            <img class="img-fluid bg-light rounded-circle" src="{{item.image|thumbnail_url:'item'|default:'/media/item/item.png'}}" alt="{{item.name}} image.">
                        </div>
                        {% if childs %}
                        <div class="text-center">
                            {% for item in childs %}
                                <a href="{% url 'item_detail' item.slug %}"><img class="img-fluid bg-light rounded-circle w-auto mt-3 mx-1" src="{{item.image|thumbnail_url:'item_child'|default:'/media/item/item_child.png'}}" data-toggle="tooltip" data-placement="bottom" title="{{item.name}}" alt="{{item.name}} image."></a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="media-body col-md-10 my-3">
                        <h1 class="mb-2 h2">{{item.name}}</h1>
                        {{item.description|linebreaks}}
                        <hr>
                        <div class="row">
                            {% if item.url %}
                            <div class="col-md-3 col-sm-6 my-2">
                                <h6 class="mb-1 text-uppercase text-info">Wikia</h6>
                                <a class="text-light" href="{{item.url}}"><i class="fas fa-link fa-fw"></i> {{item.name}}</a>
                            </div>
                            {% endif %}
                            {% if item.trading_tax %}
                            <div class="col-md-3 col-sm-6 my-2">
                                <h6 class="mb-1 text-uppercase text-info">Trading Tax</h6>
                                <p class="mb-0"><i class="fas fa-coins fa-fw"></i> {{item.trading_tax}}</p>
                            </div>
                            {% endif %}
                            {% if item.ducats %}
                            <div class="col-md-3 col-sm-6 my-2">
                                <h6 class="mb-1 text-uppercase text-info">Ducats</h6>
                                <p class="mb-0">{{item.ducats}}</p>
                            </div>
                            {% endif %}
                            {% if item.mastery_rank %}
                            <div class="col-md-3 col-sm-6 my-2">
                                <h6 class="mb-1 text-uppercase text-info">Mastery Rank</h6>
                                <p class="mb-0"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> {{item.mastery_rank}}</p>
                            </div>
                            {% endif %}
                            {% if item.rarity %}
                            <div class="col-md-3 col-sm-6 my-2">
                                <h6 class="mb-1 text-uppercase text-info">Rarity</h6>
                                <p class="mb-0">{{item.rarity}}</p>
                            </div>
                            {% endif %}
                            {% if item.mod_rank %}
                            <div class="col-md-3 col-sm-6 my-2">
                                <h6 class="mb-1 text-uppercase text-info">Mod Rank</h6>
                                <p class="mb-0">{{item.mod_rank}}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 my-3">
                    <h2 class="h6"><i class="fas fa-dollar-sign fa-fw fa-lg bg-danger p-1 rounded text-light mr-1"></i> Want to Sell <a class="h6 text-info float-right small mt-1" href="#">Show all <i class="fas fa-chevron-right fa-fw"></i></a></h2>
                    <hr>
                    {% for order in wts %}
                        {% include 'item.html' %}
                    {% endfor %}
                </div>
                <div class="col-md-6 my-3">
                    <h2 class="h6"><i class="fas fa-dollar-sign fa-fw fa-lg bg-success p-1 rounded text-light mr-1"></i> Want to Buy <a class="h6 text-info float-right small mt-1" href="#">Show all <i class="fas fa-chevron-right fa-fw"></i></a></h2>
                    <hr>
                    {% for order in wtb %}
                        {% include 'item.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}