{% extends 'base.html' %}
{% block title %}Market{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 my-3">
            <h2 class="h6"><i class="fas fa-dollar-sign fa-fw fa-lg bg-danger p-1 rounded text-light mr-1"></i> Want to Sell <a class="h6 text-info float-right mt-1" href="#">Show all <i class="fas fa-chevron-right fa-fw"></i></a></h2>
            <hr>
            {% for order in wts %}
                {% include 'item.html' %}
            {% endfor %}
        </div>
        <div class="col-md-6 my-3">
            <h2 class="h6"><i class="fas fa-dollar-sign fa-fw fa-lg bg-success p-1 rounded text-light mr-1"></i> Want to Buy <a class="h6 text-info float-right mt-1" href="#">Show all <i class="fas fa-chevron-right fa-fw"></i></a></h2>
            <hr>
            {% for order in wtb %}
                {% include 'item.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block extras %}
<div class="position-absolute btn-float text-center">
    <button type="button" class="btn btn-danger mb-2 p-2" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fas fa-plus fa-fw fa-2x"></i>
    </button>
    <p class="text-center text-danger font-weight-bold text-uppercase m-0">Place Order</p>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-uppercase" id="exampleModalCenterTitle">Place Order</h6>
                <button type="button" class="close small" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-sm" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger text-uppercase font-weight-bold btn-block">Place Order</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}