{% load bootstrap4 %}
<button class="btn-float border-0 bg-transparent" data-toggle="modal" data-target="#myModal">
    <span class="fa-stack fa-3x">
        <i class="fas fa-circle fa-stack-2x rounded-circle text-danger"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
    </span>
    <span class="text-center d-block font-weight-bold text-uppercase text-danger">Place Order</span>
</button>
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="PlaceOrder" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-uppercase" id="exampleModalCenterTitle">Place Order</h6>
                <button type="button" class="close small" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-sm" aria-hidden="true"></i>
                </button>
            </div>
            <form action="{% url 'order_create' %}" method="post" class="form">
                <div class="modal-body pb-0">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger text-uppercase font-weight-bold btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>