{% if user.is_authenticated %}
<div class="mb-3">
    {% include 'user/user_thumb.html' %}
</div>
{% endif %}
<div class="mb-3">
    <p class="text-uppercase bg-title px-3 py-2 m-0"><i class="fas fa-home fa-fw text-info mr-1"></i> Home</p>
    <div class="bg-box mb-3">
        <ul class="nav flex-column mb-3">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'feed' %} bg-black-t text-white{% endif %}" href="{% url 'feed' %}"><i class="fas fa-columns fa-fw mr-1"></i> Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'pinax_messages:inbox' %} bg-black-t text-white{% endif %}" href="{% url 'pinax_messages:inbox' %}"><i class="fas fa-envelope fa-fw mr-1"></i> Messages</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'feed_public' %} bg-black-t text-white{% endif %}" href="{% url 'feed_public' %}"><i class="fas fa-globe-americas fa-fw mr-1"></i> Public Feed</a>
            </li>
        </ul>
    </div>
</div>