{% load thumbnail %}
{% load custom_filters %}
<div class="post-welcome">
    <img class="header"
        src="{{ object.image|thumbnail_url:'post_welcome'|default:'https://via.placeholder.com/465x262' }}">
    <div class="inner">
        {{ object.text|linebreaks }}
    </div>
    <div class="inner-footer">
        <div>
            <h4>Administered by:</h4>
            <a class="info" href="{% url 'userprofile' object.user.username %}">
                <div>
                    <img class="avatar"
                        src="{{ object.user.userprofile.avatar|thumbnail_url:'post_welcome_avatar'|default:'https://via.placeholder.com/36' }}">
                </div>
                <div>
                    <strong>{% if object.user.first_name %}{{ object.user.first_name }}{% else %}{{ object.user.username }}{% endif %}</strong>
                    <span>@{{ object.user.username }}</span>
                </div>
            </a>
        </div>
        <div>
            <h4>Server stats:</h4>
            <div class="server-stats">
                <div>
                    <span class="counter">{{ users_count|number_formatter }}</span>
                    <span class="label">users</span>
                </div>
                <div>
                    <span class="counter">{{ posts_count|number_formatter }}</span>
                    <span class="label">posts</span>
                </div>
            </div>
        </div>
    </div>
</div>