{% load bootstrap4 %}
{% if user.is_authenticated %}
    {% if form %}
    <div class="modal fade" id="PostCreate" tabindex="-1" role="dialog" aria-labelledby="PostCreateTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-box">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="PostCreateTitle"><i class="fas fa-paper-plane fa-fw text-info mr-1"></i> Create a Post</h5><br>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-muted small" aria-hidden="true"><i class="fas fa-times fa-fw"></i></span>
                    </button>
                </div>
                <hr class="m-0">
                <div class="modal-body border-0">                            
                    <form class="small" action="" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                    </form>
                </div>
                <hr class="m-0">
                <div class="modal-footer border-0">
                    <button type="submit" class="btn btn-main btn-sm btn-block px-3"><i class="fas fa-paper-plane fa-fw"></i> Publish</button>
                </div>
                    
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}