{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}New Post!{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% include 'modules/menu.html' %}
        </div>
        <div class="col-md-6">
            <h1 class="h3 mt-3 mb-2"><i class="fas fa-comment fa-fw text-info mr-1"></i> Create a Comment</h1>
            <p class="text-muted">Comment what you want, you are free to do it. Respect the other Players so that he respects you. It is not so difficult to follow the rules of our website.</p>
            <hr>
            {% if user.is_authenticated %}
            <form class="small" action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                {% buttons %}
                <div class="my-3">
                    <a class="btn btn-danger btn-sm px-3" href="{% url 'home' %}" role="button"><i class="fas fa-times fa-fw"></i> Cancel</a>
                    <button type="submit" class="btn btn-success btn-sm float-right px-3"><i class="fas fa-paper-plane fa-fw"></i> Publish</button>
                </div>
                {% endbuttons %}
            </form>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% include 'modules/aside.html' %}
        </div>
    </div>
</div>
{% endblock %}