{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}New Post!{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 py-3">
            {% include 'menu/feed_menu.html' %}
        </div>
        <div class="col-md-6 py-3">
            <h1 class="h3"><i class="fas fa-comment fa-fw text-info mr-1"></i> Create a Comment</h1>
            <p class="text-muted">Comment what you want, you are free to do it. Respect the other Players so that he respects you. It is not so difficult to follow the rules of our website.</p>
            <hr>
            {% if user.is_authenticated %}
            {% include 'form/form.html' %}
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}