{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
{% if profile.get_full_name %}{{ profile.get_full_name }}{% else %}{{ profile.username }}{% endif %}
(@{{ profile.username }}) / Ordis
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div id="userprofile">
    <div class="menu"></div>
    <div class="info">
        <div class="inner-info">
            <div class="userinfo">
                <div>
                    <img class="avatar"
                        src="{{profile.userprofile.avatar|thumbnail_url:'userprofile_avatar'|default:'https://via.placeholder.com/120x120'}}"
                        alt="{% if profile.get_full_name %}{{profile.get_full_name}} - @{{profile.username}}{% else %}@{{profile.username}} avatar.{% endif %}
                    ">
                </div>
                <div class="userdata">
                    <h1 class="name">
                        {% if profile.get_full_name %}{{ profile.get_full_name }}{% else %}{{ profile.username }}{% endif %}
                        <small>
                            @{{ profile.username }}
                        </small>
                    </h1>
                    <nav class="usermenu">
                        <ul>
                            <li class="{% if request.resolver_match.url_name == 'userprofile' %}active{% endif %}">
                                <a href="#">
                                    <span class="counter">{{ posts_count }}</span>
                                    <span class="label">Posts</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="counter">{{ following_count }}</span>
                                    <span class="label">Following</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="counter">{{ followers_count }}</span>
                                    <span class="label">Followers</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <img class="header"
                src="{{profile.userprofile.header|thumbnail_url:'userprofile_header'|default:'https://via.placeholder.com/960x300'}}"
                alt="{% if profile.get_full_name %}{{profile.get_full_name}} - @{{profile.username}}{% else %}@{{profile.username}} header.{% endif %}
            ">
        </div>
    </div>
    <div class="feed"></div>
</div>
{% endblock %}
{% block footer %}{% endblock %}