{% extends 'base.html' %}
{% block title %}Codex{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 my-3">
            {% include 'codex/menu/codex_menu.html' %}
        </div>
        <div class="col-md-9 bg-black-t">
            {% if request.resolver_match.url_name == 'codex' %}
            <h1 class="h3 mt-3 mb-2"><i class="fas fa-book-open fa-fw text-info mr-1"></i> Codex</h1>
            <p class="text-muted small m-0">Many times it is impossible to know everything about Warframe, between quests, resources, weapons and more, it is necessary to have a guide either inside the game as well as outside it and at hand.</p>
            <hr>
            {% elif request.resolver_match.url_name == 'codex_quests' %}
            <h1 class="h3 mt-3 mb-2"><i class="far fa-map fa-fw text-info mr-1"></i> Quests</h1>
            <p class="text-muted small m-0">Many things happen in the world of Warframe, impossible missions and really rewarding prizes. With this section we help you finish the quest necessary to keep moving forward.</p>
            <hr>
            {% elif request.resolver_match.url_name == 'codex_universe' %}
            <h1 class="h3 mt-3 mb-2"><i class="fas fa-globe fa-fw text-info mr-1"></i> Universe</h1>
            <p class="text-muted small m-0">This is the Warframe universe. Here you can get information about Companions, Warframes, Factions, Mods and many other things.</p>
            <hr>
            {% elif warframes %}
            <h1 class="h3 mt-3 mb-2"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Warframes</h1>
            <p class="text-muted small m-0">There are many Warframes to choose from, from the ninja that teleports to the one that looks like a monkey!</p>
            <hr>
            {% elif weapons %}
            <h1 class="h3 mt-3 mb-2"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Weapons</h1>
            <p class="text-muted small m-0">Here you can see all the weapons of the game. Primary, Secondary, Melee and Archwing.</p>
            <hr>
            {% endif %}
            <div class="row">
                {% if request.resolver_match.url_name == 'codex' %}
                <div class="col-md-6 mb-3">
                    <div class="item small">
                        <a href="{% url 'codex_quests' %}">
                            <img class="img-fluid" src="https://via.placeholder.com/510x287">
                            <div class="py-2 px-3 bg-light">
                                <p class="text-dark text-uppercase font-weight-bold mb-0">Quests</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="item small">
                        <a href="{% url 'codex_universe' %}">
                            <img class="img-fluid" src="https://via.placeholder.com/510x287">
                            <div class="py-2 px-3 bg-light">
                                <p class="text-dark text-uppercase font-weight-bold mb-0">Universe</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="item small">
                        <a href="#">
                            <img class="img-fluid" src="https://via.placeholder.com/510x287">
                            <div class="py-2 px-3 bg-light">
                                <p class="text-dark text-uppercase font-weight-bold mb-0">Training</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="item small">
                        <a href="{% url 'codex_quests' %}">
                            <img class="img-fluid" src="https://via.placeholder.com/510x287">
                            <div class="py-2 px-3 bg-light">
                                <p class="text-dark text-uppercase font-weight-bold mb-0">Missions</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% if quests or warframes or weapons %}
                    {% if quests %}
                        {% for item in quests %}
                            {% include 'codex/thumbs/codex_item_thumb.html' %}
                        {% endfor %}
                    {% endif %}
                    {% if warframes %}
                        {% for item in warframes %}
                            {% include 'codex/thumbs/codex_item_thumb.html' %}
                        {% endfor %}
                    {% endif %}
                    {% if weapons %}
                        {% for item in weapons %}
                            {% include 'codex/thumbs/codex_item_thumb.html' %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if request.resolver_match.url_name == 'codex_universe' %}
                    {% if latest_warframes %}
                    <div class="col-md-6">
                        <h2 class="h6 mt-3 mb-2"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Latest Warframes <a class="d-block float-right small mt-1" href="{% url 'codex_universe_warframes' %}">More <i class="fas fa-chevron-right fa-fw ml-1 small"></i></a></h2>
                        <hr>
                        {% for item in latest_warframes %}
                            {% include 'codex/thumbs/codex_universe_warframe_thumb_xs.html' %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if latest_weapons %}
                    <div class="col-md-6">
                        <h2 class="h6 mt-3 mb-2"><i class="fas fa-chevron-right fa-fw text-info mr-1"></i> Latest Weapons <a class="d-block float-right small mt-1" href="{% url 'codex_universe_weapons' %}">More <i class="fas fa-chevron-right fa-fw ml-1 small"></i></a></h2>
                        <hr>
                        {% for item in latest_weapons %}
                            {% include 'codex/thumbs/codex_universe_weapon_thumb_xs.html' %}
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}