{% if user.is_authenticated %}
{% include 'user/user_thumb.html' %}
{% endif %}
<a class="title-menu my-1 mx-3 text-uppercase small d-block" href="{% url 'codex' %}">Codex</a>
<ul class="nav flex-column mb-3 small">
    <li class="nav-item">
        <a class="nav-link{% if request.resolver_match.url_name == 'codex_quests' %} bg-black-t text-white{% endif %}" href="{% url 'codex_quests' %}"><i class="far fa-map fa-fw mr-1"></i> Quests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if request.resolver_match.url_name == 'codex_universe' or request.resolver_match.url_name == 'codex_universe_weapons' or request.resolver_match.url_name == 'codex_universe_weapons_primary' or request.resolver_match.url_name == 'codex_universe_weapons_secondary' or request.resolver_match.url_name == 'codex_universe_weapons_melee' %} bg-black-t text-white{% endif %}" href="{% url 'codex_universe' %}"><i class="fas fa-globe fa-fw mr-1"></i> Universe</a>
    </li>
    {% if request.resolver_match.url_name == 'codex_universe' or request.resolver_match.url_name == 'codex_universe_weapons' or request.resolver_match.url_name == 'codex_universe_weapons_primary' or request.resolver_match.url_name == 'codex_universe_weapons_secondary' or request.resolver_match.url_name == 'codex_universe_weapons_melee' %}
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right fa-fw mr-1"></i> Art Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right fa-fw mr-1"></i> Companions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right fa-fw mr-1"></i> Factions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right fa-fw mr-1"></i> Fragments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right fa-fw mr-1"></i> Mods</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right fa-fw mr-1"></i> Objects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right fa-fw mr-1"></i> Relics & Arcanes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right fa-fw mr-1"></i> Warframes & Archwings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'codex_universe_weapons' or request.resolver_match.url_name == 'codex_universe_weapons' or request.resolver_match.url_name == 'codex_universe_weapons_primary' or request.resolver_match.url_name == 'codex_universe_weapons_secondary' or request.resolver_match.url_name == 'codex_universe_weapons_melee' %} bg-black-t text-white{% endif %}" href="{% url 'codex_universe_weapons' %}"><i class="fas fa-chevron-right fa-fw mr-1"></i> Weapons</a>
        </li>
        {% if request.resolver_match.url_name == 'codex_universe_weapons' or request.resolver_match.url_name == 'codex_universe_weapons_primary' or request.resolver_match.url_name == 'codex_universe_weapons_secondary' or request.resolver_match.url_name == 'codex_universe_weapons_melee' %}
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link ml-3{% if request.resolver_match.url_name == 'codex_universe_weapons_primary' %} text-white{% endif %}" href="{% url 'codex_universe_weapons_primary' %}"><i class="fas fa-chevron-right fa-fw mr-1"></i> Primary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-3{% if request.resolver_match.url_name == 'codex_universe_weapons_secondary' %} text-white{% endif %}" href="{% url 'codex_universe_weapons_secondary' %}"><i class="fas fa-chevron-right fa-fw mr-1"></i> Secondary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-3{% if request.resolver_match.url_name == 'codex_universe_weapons_melee' %} text-white{% endif %}" href="{% url 'codex_universe_weapons_melee' %}"><i class="fas fa-chevron-right fa-fw mr-1"></i> Melee</a>
            </li>
        </ul>
        {% endif %}
    </ul>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link disabled" href="#"><i class="fab fa-accessible-icon fa-fw mr-1"></i> Training</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#"><i class="fas fa-thumbtack fa-fw mr-1"></i> Missions</a>
    </li>
</ul>