{% load thumbnail %}
{% if user.is_authenticated %}
<div class="media">
    <img class="img-fluid mr-3 rounded-circle" src="{{user.userprofile.avatar|thumbnail_url:'avatar'|default:'https://via.placeholder.com/50x50'}}" alt="@{{user.username}} avatar image.">
    <div class="media-body">
        {% if user.get_full_name %}
        <h2 class="h6 mt-1 mb-0"><a href="#">{{user.get_full_name}}</a></h2>
        {% endif %}
        <p class="my-0 text-secondary font-italic">@{{user.username}}</p>
    </div>
</div>
{% endif %}