{% load thumbnail %}
<div class="media bg-black-t">
    <img class="img-fluid mr-3" src="{{user.userprofile.avatar|thumbnail_url:'50x50'|default:'https://via.placeholder.com/50x50'}}" alt="Generic placeholder image">
    <div class="media-body">
        <a href="{% url 'userprofile' user.username %}" class="d-block">
            {% if user.get_full_name %}
                <p class="my-1{% if user.is_staff %} text-warning{% endif %}">{{user.get_full_name}}</p>
                <p class="my-1 text-muted">@{{user.username}}</p>
            {% else %}
                <p class="my-1 text-white{% if user.is_staff %} text-warning{% endif %}">{{user.username}}</p>
            {% endif %}
        </a>
    </div>
</div>