{% extends 'base.html' %}
{% block head_title %}Explore{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 mt-3">
            {% include 'explore/menu/explore_menu.html' %}
            {% include 'modules/disclaimer.html' %}
        </div>
        <div class="col-md-9 my-3">
            <div class="bg-black-t pt-3 px-3">
                {% if mode == 'explore' %}
                <h1 class="h5"><i class="fas fa-columns fa-fw text-info mr-1"></i> Explore: Dashboard</h1>
                <p class="text-muted m-0">From here you can see a mixed exploration, since you can explore Players, Posts and Clans at the same time.</p>
                <hr>
                <div class="row">           
                    <div class="col-md-8">
                        <p class="text-uppercase bg-title px-3 py-2 mb-3"><i class="fas fa-globe-americas fa-fw text-info mr-1"></i> Public Posts</p>
                        {% for post in posts %}
                            {% include 'post/post.html' %}
                        {% endfor %}
                    </div>  
                    <div class="col-md-4">
                        <div class="mb-3">
                            <p class="text-uppercase bg-title px-3 py-2 mb-3"><i class="fas fa-users fa-fw text-info mr-1"></i> Players <a class="d-block float-right mt-1 small" href="{% url 'explore_users' %}">More <i class="fas fa-chevron-right fa-fw ml-1"></i></a></p>
                            <div class="bg-box mb-3">
                                {% for user in users %}
                                    {% include 'user/user_thumb.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if mode == 'explore_users' %}
                <h1 class="h5"><i class="fas fa-users fa-fw text-info mr-1"></i> Explore: Players</h1>
                <p class="text-muted m-0">This is a part of the exploration where you can only view players. Excellent to follow new people.</p>
                <hr>
                <p class="text-uppercase bg-title px-3 py-2 mb-3"><i class="fas fa-users fa-fw text-info mr-1"></i> Players</p>
                <div class="row">
                    {% for user in users %}
                    <div class="col-md-4 mb-3">
                        {% include 'user/user_thumb.html' %}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}